@model SKtimeManagement.ChangePasswordModel
<div id="change-password" class="text-center">
    <form action="@Url.Action("ChangePassword", "Main")" method="post" url="@Url.Action("Logout", "Main")">
        <div>
            <input class="input" type="password" name="OldPassword" placeholder="Mật khẩu cũ" />
        </div>
        <div>
            <input class="input" type="password" name="NewPassword" placeholder="Mật khẩu mới" />
        </div>
        <div>
            <input class="input" type="password" name="RepeatNewPassword" placeholder="Nhập lại mật khẩu mới" />
        </div>
        <div>
            <input type="submit" value="Đổi mật khẩu" />
            <a href="@Url.Action("Index", "Main")" target="_self" for="main-content" ptitle="SKtimeManagement">Hủy</a>
        </div>
        <div>
            @if (!String.IsNullOrEmpty(Model.Message))
            {
                if (Model.Result)
                {
                    <i class="text-info" id="success">@Html.Raw(Model.Message)</i>
                }
                else
                {
                    <i class="text-danger" id="error">@Html.Raw(Model.Message)</i>
                }
            }
        </div>
    </form>
</div>