@model SKtimeManagement.Summary
<div class="flexible">
    <div class="w60">
        <div>
            @Html.Partial("Header")
        </div>
        <div class="group">
            <h3 class="head-line">Hóa đơn trong ngày</h3>
            <div id="content">
                @*<div class="border">
                    <span id="title">Trong tháng</span>
                    <div class="flexible">
                        <div class="w100">
                            <span class="info">Tổng thu: <strong style="font-size: 20px;">@Model.CreatedOrders.Sum(o => o.Paid).GetCurrencyString() VND</strong></span>
                        </div>
                        @foreach (var method in PayMethod.List)
                        {
                            <div class="w33">
                                <span class="info">@method: <strong style="font-size: 20px;">@Model.CreatedOrders.Where(i => i.PayMethod == method).Sum(o => o.Paid).GetCurrencyString() VND</strong></span>
                            </div>
                        }
                    </div>
                </div>*@
                <div class="border">
                    <span id="title">Trong ngày</span>
                    @{
                        var now = DateTime.Now;
                        var start = new DateTime(now.Year, now.Month, now.Day, 0, 0, 0);
                        var end = start.AddDays(1);
                        var orders = Model.CreatedOrders.Where(i => i.SubmitDate >= start && i.SubmitDate <= end);
                    }
                    <div id="orders-summary">
                        <script>
                            AjaxRequest({
                                url: '@Url.Action("GetTransactions", "Main")',
                                success: function (data) {
                                    if (data.html) {
                                        $('#orders-summary').html(data.html);
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                @Html.Partial("CreatedOrders", Model.CreatedOrders)
            </div>
        </div>
        <div class="group">
            <h3 class="head-line">Nhân viên sinh trong tháng</h3>
            <div id="content">
                <div id="employee-list">
                    <script>
                            AjaxRequest({
                                url: '@Url.Action("EmployeeList", "Main")',
                                success: function (data) {
                                    if (data.html) {
                                        var id = '#employee-list';
                                        $(id).html(data.html);
                                        ProcessLinks(id);
                                    }
                                }
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="w40">
        <div class="group">
            <h3 class="head-line">Hóa đơn mới nhất</h3>
            <div id="content" class="text-center">
                @Html.Partial("NewOrders", Model.NewOrders)
            </div>
        </div>
        <div class="group">
            <h3 class="head-line">Phiếu xuất kho đang chờ</h3>
            <div id="content" class="text-center">
                @Html.Partial("PendingExports", Model.PendingExports)
            </div>
        </div>
        <div class="group">
            <h3 class="head-line">Phiếu bảo hành &amp; sửa chữa đang xử lý</h3>
            <div id="content">
                <div id="processing-services">
                    <script>
                            AjaxRequest({
                                url: '@Url.Action("ProcessingServices", "Main")',
                                success: function (data) {
                                    if (data.html) {
                                        var id = '#processing-services';
                                        $(id).html(data.html);
                                        ProcessLinks(id);
                                    }
                                }
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>