@model SKtimeManagement.OutcomeInfo
<div class="flexible">
    <div class="w50">
        <table>
            <tr>
                <td width="50%" valign="top">
                    <img src="@Url.Content("~/Content/images/logo.png")" width="100" height="auto" />
                </td>
                <td width="50%" valign="top">
                    <strong style="font-size: 18px">SKTIME SHOP</strong><br />
                    <span>HCMC, VIETNAM</span><br />
                    <span>ĐT: 0933 848 858</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="w50">
        <div class="flexible">
            <div class="w50" style="padding-left: 0">
                <strong style="font-size: 26px;">PHIẾU CHI</strong><br />
                <span>Ngày tạo: @Model.SubmitDate.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="w50">
                <img src="@Model.Code.BarcodeImage()" width="200" height="auto" /><br />
                <span>Mã: <strong>@Model.Code</strong></span>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="flexible" style="padding: 40px 0;">
        <div class="w50">
            <div>
                <span class="info">Đại diện: <strong>@Model.EmployeeName</strong></span>
            </div>
            <div>
                <span class="info">Kho: <strong>@Model.WarehouseName</strong></span>
            </div>
        </div>
        <div class="w50">
            <div>
                <span class="info">Số tiền: <strong>@Model.AmountString</strong></span>
            </div>
            <div>
                <span class="info">Phương thức: <strong>@Model.Type</strong></span>
            </div>
        </div>
        <div class="w100">
            <div>
                <span class="info">Lý do: <strong>@Model.Reason</strong></span>
            </div>
            <div>
                <span class="info">Ghi chú: <strong>@Model.Note</strong></span>
            </div>
        </div>
    </div>
    <table width="100%">
        <tr>
            <td align="center" width="50%">NGƯỜI NỘP TIỀN</td>
            <td align="center" width="50%">NGƯỜI LẬP PHIẾU</td>
        </tr>
    </table>
</div>