@model SKtimeManagement.OutcomeInfo
<div id="income-info">
    <h3 class="text-center">Phiếu chi</h3>
    <form action="@Url.Action("Save", "Outcome")" method="POST" for="main-content" fail="pop-up-content" class="sm">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="BussinessID" value="@Model.BussinessID" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w100">
                <div>
                    <label>Kho:</label>
                    <select name="WarehouseID" data="@Url.Action("AuthorizedWarehouse", "Login")" value="@Model.WarehouseID"></select>
                </div>
                <div>
                    <label>Tiền chi:</label><input class="input" type="text" name="Amount" value="@Model.Amount" />
                </div>
                <div>
                    <label>Phương thức:</label>
                    <select name="Type">
                        @foreach (var type in InOutType.List)
                        {
                            <option value="@type" @(Model.Type == type ? "selected=\"selected\"" : "")>@type</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Lý do:</label><input class="input" type="text" name="Reason" value="@Model.Reason" />
                </div>
                <div>
                    <label>Ghi chú:</label><textarea name="Note">@Model.Note</textarea>
                </div>
                <div class="text-right">
                    <input type="submit" value="Lưu" url="@Url.Action("List", "Income")" class="save" />
                    <a href="@Url.Action("List", "Income")" target="_self" for="main-content" ptitle="Phiếu chi" class="button cancel">Hủy</a>
                </div>
            </div>
        </div>
    </form>
</div>