@model SKtimeManagement.SalaryDetail
@{
    ViewBag.Title = "Chấm công";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="flexible">
    <div class="w25">
        <div id="filter" class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("FindEmployee", "Salary")" method="post" for="employee-list" ptitle="Chấm công">
                    <div>
                        <label>Họ tên:</label><input class="input" type="text" name="Name" value="@Model.SalaryCalculator.EmployeeFilter.Name" />
                    </div>
                    <div>
                        <label>Số điện thoại:</label><input class="input" type="text" name="Phone" value="@Model.SalaryCalculator.EmployeeFilter.Phone" />
                    </div>
                    <div>
                        <label>Địa chỉ:</label><input class="input" type="text" name="Address" value="@Model.SalaryCalculator.EmployeeFilter.Address" />
                    </div>
                    <div>
                        <label>Cửa hàng:</label>
                        <div class="inline">
                            <div id="search-store" class="table-row">
                                <div><input type="text" placeholder="Tìm theo tên" /></div>
                                <div><span class="button small search"></span></div>
                            </div>
                            <span>
                                <select name="StoreID" data="@Url.Action("StoreList", "Setting")" value="@Model.SalaryCalculator.EmployeeFilter.StoreID">
                                    <option value="">None</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("FindEmployee", "Salary")" class="search" />
                    </div>
                </form>
            </div>
        </div>
        <div id="employee-list" class="group">

        </div>
    </div>
    <div class="w75">
        <h3 class="text-center">Chấm công</h3>
        <div id="calculator">
            @Html.Partial(Views.ForEmployeePartial, Model)
        </div>
    </div>
</div>