@model SKtimeManagement.SalaryCalculator
@if (Model != null && Model.EmployeeInfo != null)
{
    <div class="flexible">
        <div class="w50">
            <div class="flexible">
                <div class="w75">
                    <div>
                        <label>Tháng:</label><span class="info">@Model.From.ToString("MM/yyyy")</span>
                    </div>
                    <div>
                        <label>Nhân viên:</label><span class="info">@Model.EmployeeInfo.Name</span>
                    </div>
                    <div>
                        <label>Doanh thu NV:</label><span class="info">@Model.Orders.Where(i => i.EmployeeID == Model.EmployeeInfo.ID).Sum(i => i.Paid).GetCurrencyString()</span>
                    </div>
                    <div>
                        <label>Cửa hàng:</label><span class="info">@Model.EmployeeInfo.StoreName</span>
                    </div>
                    <div>
                        <label>Doanh thu:</label><span class="info">@Model.Orders.Sum(i => i.Paid).GetCurrencyString()</span>
                    </div>
                </div>
                <div class="w25">
                    <div>
                        <img src="@Url.Image("Employee", Model.EmployeeInfo.Image)" width="auto" height="130"/>
                    </div>
                </div>
                <div class="w100">
                    <form action="@Url.Action("ForEmployee", "Salary")" method="post" for="calculator" ptitle="Chấm công">
                        <input type="hidden" name="EmployeeID" value="@Model.EmployeeInfo.ID" />
                        <div>
                            <label>Lương căn bản:</label><input class="input" type="number" name="BaseSalary" value="@Model.EmployeeInfo.BaseSalary" />
                        </div>
                        <div>
                            <label>Hệ số phạt nghỉ:</label><input class="input" type="number" name="OffValue" value="@Model.Info.OffValue" />
                        </div>
                        <div>
                            <label>Số ngày được phép nghỉ:</label><input class="input" type="number" name="ValidOffDays" value="@Model.Info.ValidOffDays" />
                        </div>
                        <div>
                            <label>Ngày nghỉ phạt:</label><input class="input" type="number" name="AdditionalOffDays" value="@Model.Info.AdditionalOffDays" />
                        </div>
                        <div>
                            <label>Tổng số nhân viên:</label><input class="input" type="number" name="EmployeeCount" value="@Model.Info.EmployeeCount" />
                        </div>
                        <div>
                            <label>Mức doanh số:</label><input class="input" type="number" name="SalePoint" value="@Model.Info.SalePoint" />
                        </div>
                        <div>
                            <label>Biên độ tăng:</label><input class="input" type="number" name="SaleAdd" value="@Model.Info.SaleAdd" />
                        </div>
                        <div>
                            <label>Tạm ứng:</label><input class="input" type="number" name="Paid" value="@Model.Info.Paid" />
                        </div>
                        <div>
                            <label>Khác:</label><input class="input" type="number" name="Other" value="@Model.Info.Other" />
                        </div>
                        <div>
                            <label>Ghi chú:</label><input class="input" type="text" name="Note" value="@Model.Info.Note" />
                        </div>
                        <div>
                            <label></label><input type="submit" value="Chấm công" url="@Url.Action("ForEmployee", "Salary")" class="save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="w50">
            <div class="group">
                <h3 class="head-line">Tổng kết lương tháng @Model.From.ToString("MM/yyyy") của @Model.EmployeeInfo.Name</h3>
                <div id="content">
                    <div>
                        <span class="button print" onclick="Print('salary-print');">In</span>
                        <div id="salary-print" class="hidden">
                            @Html.Partial("Print", Model)
                        </div>
                    </div>
                    <div class="tbl">
                        <table>
                            <thead>
                                <tr id="head">
                                    <td><div>Tiêu chí</div></td>
                                    <td><div>Giá trị</div></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="data">
                                    <td><div>Lương căn bản</div></td>
                                    <td><div text="right">@Model.BaseSalary.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Thưởng doanh số</div></td>
                                    <td><div text="right">@Model.SaleSalary.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>@(Model.OffValue > 0 ? "Thưởng nghỉ" : "Phạt nghỉ")</div></td>
                                    <td><div text="right">(@Model.OffCount ngày) @Model.OffValue.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Tạm ứng</div></td>
                                    <td><div text="right">@Model.Paid.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Khác</div></td>
                                    <td><div text="right">@Model.Other.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Phạt vi phạm nội quy</div></td>
                                    <td><div text="right">@Model.FineTotal.GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Tổng cộng</div></td>
                                    <td><div text="right">(@Model.Total.GetCurrencyString()) @Model.Total.Round().GetCurrencyString()</div></td>
                                </tr>
                                <tr class="data">
                                    <td><div>Ghi chú</div></td>
                                    <td><div>@Model.Note</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @*<div>
                        <span class="info">: @Model.Note</span>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="w100">
            <div>
                <div class="tabs inline">
                    <div id="heads">
                        @*<span for="offsets">Hệ số</span>*@
                        <span for="employee-offs" class="active">Nghỉ phép</span>
                        <span for="employee-orders">Doanh thu</span>
                        <span for="employee-fine-list">Phạt vi phạm</span>
                    </div>
                </div>
                @*<div id="offsets" class="tab-body">
                    <div>
                        <form action="@Url.Action("AddOffset", "Salary")" method="post" for="offsets-list" ptitle="Chấm công">
                            <input type="hidden" name="id" value="@Model.EmployeeInfo.StoreID"/>
                            <div>
                                <label>Doanh thu:</label><input class="input" type="number" name="offset" value="0" />
                            </div>
                            <div>
                                <label>Hệ số:</label><input class="input" type="number" name="value" value="0" />
                            </div>
                            <div>
                                <label></label><input type="submit" value="Thêm" url="@Url.Action("AddOffset", "Salary")" class="add" />
                            </div>
                        </form>
                    </div>
                    <div id="offsets-list">
                        @Html.Partial("Offsets", Model.Offsets)
                    </div>
                </div>*@
                <div id="employee-orders" class="tab-body hidden">
                    <div id="employee-orders-list">
                        @Html.Partial("Orders", Model.Orders)
                    </div>
                </div>
                <div id="employee-fine-list" class="tab-body hidden">
                    <script>
                        AjaxRequest({
                            url: '@Url.Action("GetFine", "Employee", new { id = Model.EmployeeInfo.ID })',
                            success: function (data) {
                                if (data.html) {
                                    var id = '#employee-fine-list';
                                    $(id).html(data.html);
                                    ProcessForms(id);
                                    ProcessLinks(id);
                                }
                            }
                        });
                    </script>
                </div>
                <div id="employee-offs" class="tab-body">
                    <div>
                        <form action="@Url.Action("AddDayOff", "Salary")" method="post" for="employee-offs-list" ptitle="Chấm công">
                            <input type="hidden" name="id" value="@Model.EmployeeInfo.ID" />
                            <div>
                                <label>Ngày nghỉ:</label>
                                <div class="inline">
                                    <div class='input-group date'>
                                        <input type='text' class="form-control input" name="date" value="" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label>Ghi chú:</label><input class="input" type="text" name="note" value="" />
                            </div>
                            <div>
                                <label></label><input type="submit" value="Thêm" url="@Url.Action("AddDayOff", "Salary")" class="add" />
                            </div>
                        </form>
                    </div>
                    <div id="employee-offs-list">
                        @Html.Partial("OffDays", Model.OffDays)
                    </div>
                </div>
            </div>
        </div>
    </div>
}