@model SKtimeManagement.EmployeeInfo
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="tabs">
    <div id="heads">
        <span class="active">Nhân viên</span>
        <a href="@Url.Action("List", "Login")" target="_self" for="main-content" ptitle="Đăng nhập">Đăng nhập</a>
    </div>
</div>
<div class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("List", "Employee")" method="post" for="main-content" ptitle="Nhân viên">
                    <div>
                        <label>Tên:</label><input class="input" type="text" name="Name" value="" />
                    </div>
                    <div>
                        <label>Số điện thoại:</label><input class="input" type="text" name="Phone" value="" />
                    </div>
                    <div>
                        <label>Địa chỉ:</label><input class="input" type="text" name="Address" value="" />
                    </div>
                    <div>
                        <label>Cửa hàng:</label>
                        <select name="StoreID" data="@Url.Action("StoreList", "Setting")" value="">
                            <option value="">None</option>
                        </select>
                    </div>
                    <div>
                        <label>Tài khoản đăng nhập:</label>
                        <span>
                            <select name="LoginID" data="@Url.Action("DataList", "Login")" value="">
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("List", "Employee")" class="search"/>
                        <a href="@Url.Action("Create", "Employee" )" target="_self" class="button add" for="pop-up-content" ptitle="Nhân viên">Tạo mới</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        @Html.Partial(Views.DetailPartial, Model)
    </div>
</div>