@model SKtimeManagement.IncomeInfo
@{
    ViewBag.Title = "Phiếu thu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="tabs">
    <div id="heads">
        <span class="active">Phiếu thu</span>
        <a href="@Url.Action("List", "Outcome")" target="_self" for="main-content" ptitle="Phiếu chi">Phiếu chi</a>
    </div>
</div>
<div class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("List", "Income")" method="post" for="main-content" ptitle="Phiếu thu">
                    <div>
                        <label>Nhân viên:</label>
                        <span>
                            <select name="EmployeeID" data="@Url.Action("DataList", "Employee")" value="">
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <label>Mã phiếu:</label><input type="text" class="input" name="Code" value="" />
                    </div>
                    <div>
                        <label>Từ:</label>
                        <div class='input-group date'>
                            <input type='text' class="form-control input" name="From" value="" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <label>Đến:</label>
                        <div class='input-group date'>
                            <input type='text' class="form-control input" name="To" value="" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("List", "Income")" class="search"/>
                        <a href="@Url.Action("Create", "Income" )" target="_self" class="button add" for="pop-up-content" ptitle="Phiếu thu">Tạo mới</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        @Html.Partial(Views.DetailPartial, Model)
    </div>
</div>