@model SKtimeManagement.IncomeInfo
<h3 class="text-center">Phiếu thu</h3>
@if (Model != null)
{
    <div class="flexible">
        <div class="w50">
            <div>
                <label>Mã phiếu:</label><span class="info">@Model.Code</span>
            </div>
            <div>
                <label>Kho:</label><span class="info">@Model.WarehouseName</span>
            </div>
            <div>
                <label>Nhân viên tạo:</label><span class="info">@Model.EmployeeName</span>
            </div>
            <div>
                <label>Ngày tạo:</label><span class="info">@Model.SubmitDate.ToString(Constants.DateTimeString)</span>
            </div>
        </div>
        <div class="w50">
            <div>
                <label>Số tiền:</label><span class="info">@Model.AmountString VND</span>
            </div>
            <div>
                <label>Phương thức:</label><span class="info">@Model.Type</span>
            </div>
            <div>
                <label>Lý do:</label><span class="info">@Model.Reason</span>
            </div>
        </div>
        <div class="w100">
            <div>
                <label>Ghi chú:</label><span class="info">@Model.Note</span>
            </div>
            <div class="text-right">
                <span class="button print" onclick="Print('income-print')">In</span>
                <a href="@Url.Action("List", "Income")" target="_self" class="button cancel" for="main-content" ptitle="Phiếu thu">Trở về</a>
            </div>
            <div id="income-print" class="hidden">
                @Html.Partial("Print", Model)
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center text-danger">
        Phiếu thu không tồn tại
    </div>
    <div class="text-right">
        <a href="@Url.Action("List", "Income")" target="_self" class="button cancel" for="main-content" ptitle="Phiếu thu">Trở về</a>
    </div>
}