@model SKtimeManagement.Report
<div class="tabs">
    <div id="heads">
        <span class="active">Tổng quát</span>
        <a href="@Url.Action("Detail", "Report")" target="_self" for="main-content" ptitle="Thống kê">Chi tiết</a>
        <a href="@Url.Action("Product", "Report")" target="_self" for="main-content" ptitle="Thống kê">Sản phẩm</a>
        <a href="@Url.Action("Salary", "Report")" target="_self" for="main-content" ptitle="Thống kê">Lương</a>
        <a href="@Url.Action("Client", "Report")" target="_self" for="main-content" ptitle="Thống kê">Khách hàng</a>
        <a href="@Url.Action("ProductPart", "Report")" target="_self" for="main-content" ptitle="Thống kê">Linh kiện</a>
    </div>
</div>
<div id="report" class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("Summary", "Report")" method="post" for="main-content" ptitle="Khách hàng">
                    <div>
                        <label>Kho:</label>
                        <select name="WarehouseID" data="@Url.Action("AuthorizedWarehouse", "Login")" value="@Model.Filter.WarehouseID">
                            <option>None</option>
                        </select>
                    </div>
                    <div>
                        <label>Từ:</label>
                        <div class='input-group date'>
                            <input type='text' class="form-control input" name="From" value="@(Model.Filter.From.HasValue ? Model.Filter.From.Value.ToString(Constants.DateTimeString) : "")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <label>Đến:</label>
                        <div class='input-group date'>
                            <input type='text' class="form-control input" name="To" value="@(Model.Filter.To.HasValue ? Model.Filter.To.Value.ToString(Constants.DateTimeString) : "")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("Summary", "Report")" class="search" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        <div>
            <h3 class="text-center">Thống kê</h3>
        </div>
        <div class="tabs">
            <div id="heads">
                <span for="sale-report" class="active">Doanh thu</span>
                <span for="revenue-report">Lợi nhuận</span>
                <span for="product-report">Sản phẩm</span>
            </div>
        </div>
        <div id="sale-report" class="tab-body">
            @if (Model.Graph != null && Model.Graph.Max > 0)
            {
                var percentage = 0m;
                <div class="flexible">
                    <div class="w100">
                        @if (Model.LastYearRevenue > 0)
                        {
                            percentage = Math.Round((Model.TotalRevenue - Model.LastYearRevenue) / Model.LastYearRevenue * 100, 2);
                            <div>
                                <label>Năm trước:<br />@Model.LastYearFrom.ToString(Constants.DateString)<br />@Model.LastYearTo.ToString(Constants.DateString)</label>
                                <span class="info"><strong>@Model.LastYearRevenue.GetCurrencyString() VND (<span class="text-@(percentage < 0 ? "danger" : "info")">@(percentage > 0 ? "+" : "")@percentage%</span>)</strong></span>
                            </div>
                        }
                        @{ 
                            percentage = Model.LastPeriodRevenue > 0 ? Math.Round((Model.TotalRevenue - Model.LastPeriodRevenue) / Model.LastPeriodRevenue * 100, 2) : 0;
                        }
                        <div>
                            <label>Giai đoạn trước:<br />@Model.LastPeriodFrom.ToString(Constants.DateString)<br />@Model.LastPeriodTo.ToString(Constants.DateString)</label>
                            <span class="info"><strong>@Model.LastPeriodRevenue.GetCurrencyString() VND (<span class="text-@(percentage < 0 ? "danger" : "info")">@(percentage > 0 ? "+" : "")@percentage%</span>)</strong></span>
                        </div>
                        <div>
                            <label>Ví dụ:</label><span class="info">Thống kê từ 01/10 đến 31/10 thì doanh thu giai đoạn trước thống kê từ 01/09 đến 30/09</span>
                        </div>
                    </div>
                </div>
                if (!Model.Filter.WarehouseID.HasValue)
                {
                    <div class="group">
                        <h3 class="head-line">Doanh thu toàn bộ</h3>
                        <div id="content">
                            @Html.Partial("SaleGraphTotal", Model.Graph)
                        </div>
                    </div>
                }
                <div class="group">
                    <h3 class="head-line">Doanh thu theo kho</h3>
                    <div id="content">
                        @Html.Partial("SaleGraph", Model.Graph)
                    </div>
                </div>
                <div class="group">
                    <h3 class="head-line">Tỷ lệ doanh thu / mức doanh số theo kho</h3>
                    <div id="content">
                        @Html.Partial("SaleGraph", Model.RelativeGraph)
                    </div>
                </div>
            }
        </div>
        <div id="revenue-report" class="tab-body hidden">
            @if (Model.RevenueGraph != null && Model.RevenueGraph.Max > 0)
            {
                if (!Model.Filter.WarehouseID.HasValue)
                {
                    <div class="group">
                        <h3 class="head-line">Lợi nhuận toàn bộ</h3>
                        <div id="content">
                            @Html.Partial("SaleGraphTotal", Model.RevenueGraph)
                        </div>
                    </div>
                }
                <div class="group">
                    <h3 class="head-line">Lợi nhuận theo kho</h3>
                    <div id="content">
                        @Html.Partial("SaleGraph", Model.RevenueGraph)
                    </div>
                </div>
                }
        </div>
        <div id="product-report" class="tab-body hidden">
            @if (Model.ProductsByQuantity != null && Model.ProductsByQuantity.Count > 0)
            {
                <div class="group">
                    <h3 class="head-line">Sản phẩm phổ biến (theo số lượng)</h3>
                    <div id="content">
                        @Html.Partial("ProductByQuantityGraph", Model.ProductsByQuantity)
                    </div>
                </div>
            }
            @if (Model.ProductsByRevenue != null && Model.ProductsByRevenue.Count > 0)
            {
                <div class="group">
                    <h3 class="head-line">Sản phẩm phổ biến (theo doanh thu)</h3>
                    <div id="content">
                        @Html.Partial("ProductByRevenueGraph", Model.ProductsByRevenue)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .report-graph {
        margin: 30px 70px;
        position: relative;
    }

        .report-graph #x {
            display: block;
            position: absolute;
            width: 105%;
            height: 0;
            bottom: 0;
            left: 0;
            border-top: solid 1px #000;
        }

            .report-graph #x:before {
                content: "";
                display: block;
                position: absolute;
                top: -3px;
                right: -10px;
                border: solid 3px transparent;
                border-left: solid 8px #000;
            }

            .report-graph #x .spot {
                display: block;
                position: absolute;
                top: 5px;
            }

        .report-graph #y {
            display: block;
            position: absolute;
            height: 105%;
            width: 0;
            top: -5%;
            left: 0;
            border-right: solid 1px #000;
        }

            .report-graph #y:before {
                content: "";
                display: block;
                position: absolute;
                top: -10px;
                right: -4px;
                border: solid 3px transparent;
                border-bottom: solid 8px #000;
            }

            .report-graph #y .value {
                display: block;
                position: absolute;
                left: -105px;
                width: 100px;
                text-align: right;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
</style>