@model SKtimeManagement.ClientInfo
<div id="client-info">
    <h3 class="text-center">Khách hàng</h3>
    <form action="@Url.Action("Save", "Client")" method="POST" for="main-content" fail="pop-up-content" class="md">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="BussinessID" value="@Model.BussinessID" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w100">
                <div>
                    <label>Mã:</label><input class="input" type="text" name="Code" value="@Model.Code" valid="@(Model.Valid("Code") ? "true" : "false")" />
                </div>
            </div>
            <div class="w50">
                <div>
                    <label>Tên:</label><input class="input" type="text" name="Name" value="@Model.Name" valid="@(Model.Valid("Name") ? "true" : "false")" />
                </div>
                <div>
                    <label>Số điện thoại:</label><input class="input" type="text" name="Phone" value="@Model.Phone" valid="@(Model.Valid("Phone") ? "true" : "false")" />
                </div>
                <div>
                    <label>Email:</label><input class="input" type="text" name="Email" value="@Model.Email" valid="@(Model.Valid("Email") ? "true" : "false")" />
                </div>
                <div>
                    <label>Địa chỉ:</label><input class="input" type="text" name="Address" value="@Model.Address" />
                </div>
            </div>
            <div class="w50">
                <div>
                    <label>Thành phố:</label>
                    <select name="City">
                        <option value="">None</option>
                        @foreach (var city in Country.VietNam.Cities)
                        {
                            <option value="@city.Name" @(Model.City == city.Name ? "selected=\"selected\"" : "")>@city.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Quận:</label>
                    <select name="District" value="@Model.District">
                        <option value="">None</option>
                        @if (!String.IsNullOrEmpty(Model.District))
                        {
                            <option value="@Model.District" selected="selected">@Model.District</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Loại:</label>
                    <span>
                        <select name="TypeID" data="@Url.Action("KeyList", "ClientType")" value="@Model.TypeID">
                            <option value="">None</option>
                        </select>
                        <a href="@Url.Action("Create", "ClientType")" target="_self" for="pop-up-content" ptitle="Khách hàng" class="button small add"></a>
                    </span>
                </div>
                <div>
                    <label>Điểm:</label><input class="input" type="number" min="0" name="Point" value="@Model.Point" />
                </div>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Lưu" url="@Url.Action("List", "Client")" class="save" />
            <a href="@Url.Action("List", "Client")" target="_self" for="main-content" ptitle="Khách hàng" class="button cancel">Hủy</a>
        </div>
    </form>
</div>
@{ 
    var data = String.Join(",", Country.VietNam.Cities.Select(c => String.Format("{{ name: '{0}', districts: [{1}] }}", c.Name, String.Join(",", c.Districts.Select(d => String.Format("\"{0}\"", d))))));
}
<script>
    var _saveCities = [@Html.Raw(data)];
    $('#client-info select[name="City"]').on('change', function () { ChangeSaveCity(); });
    function ChangeSaveCity() {
        var val = $('#client-info select[name="City"]').val(),
            selected = $('#client-info select[name="District"]').attr('value');
        if (val != '') {
            var search = _saveCities.filter(function (value, i) {
                return value.name == val;
            });
            if (search.length > 0) {
                var html = '<option value="">None</option>';
                search[0].districts.forEach(function (dist, i) {
                    html += '<option value="' + dist + '" ' + (dist == selected ? 'selected' : '') + '>' + dist + '</option>';
                });
                $('#client-info select[name="District"]').html(html);
            }
        }
    }
    ChangeSaveCity();
</script>