@model SKtimeManagement.ProductInfo
<div id="product-info">
    <h3 class="text-center">Sản phẩm</h3>
    <form action="@Url.Action("Save", "Product")" method="POST" for="main-content" fail="pop-up-content" class="lg">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="Image" value="@Model.Image" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w20">
                <div>
                    <label class="inline">Ảnh:</label><br />
                    <span class="image"><img class="thumb" src="@Url.Image("Product", Model.Image)" for="ImageInput" /></span>
                </div>
                <div>
                    <label></label><input type="file" name="ImageInput" value="@Model.Image" folder="Product" url="@Url.Action("UploadFile", "Main")" for="Image" />
                </div>
            </div>
            <div class="w80">
                <div class="tabs inline">
                    <div id="heads">
                        <span for="infos" class="active">Thông tin chung</span>
                        <span for="details">Thông số</span>
                    </div>
                </div>
                <div id="infos" class="tab-body">
                    <div class="w50">
                        <div>
                            <label>Mã vạch:</label>
                            <div class="inline">
                                <div id="product-code" class="table-row">
                                    <div>
                                        <input class="input" type="text" name="Code" value="@Model.Code" valid="@(Model.Valid("Code") ? "true" : "false")" />
                                    </div>
                                    <div>
                                        <span class="button small add" title="Tạo mã vạch mới"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Tên:</label><input class="input" type="text" name="Name" value="@Model.Name" valid="@(Model.Valid("Name") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Giá bán lẻ:</label><input type="number" min="0" name="Price" value="@Model.Price" valid="@(Model.Valid("Price") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Đơn vị tính:</label><input class="input" type="text" name="Unit" value="@Model.Unit" />
                        </div>
                        <div>
                            <label>Điểm tích lũy:</label><input type="number" min="0" name="Point" value="@Model.Point" />
                        </div>
                        <div>
                            <label>Xuất xứ:</label><input class="input" type="text" name="MadeIn" value="@Model.MadeIn" />
                        </div>
                        <div>
                            <label>Nhà cung cấp:</label>
                            <div class="inline">
                                <div id="search-supplier" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select name="SupplierID" data="@Url.Action("KeyList", "Supplier")" value="@Model.SupplierID">
                                        <option value="">None</option>
                                    </select>
                                    <a href="@Url.Action("Create", "Supplier")" target="_self" for="pop-up-content" ptitle="Nhà cung cấp" class="button small add"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Thời gian bảo hành (chính hãng):</label><input class="input" type="text" name="OriginalWarranty" value="@Model.OriginalWarranty" />
                        </div>
                        <div>
                            <label>Thời gian bảo hành (đơn vị):</label><input class="input" type="text" name="BussinessWarranty" value="@Model.BussinessWarranty" />
                        </div>
                        <div>
                            <label>Nhóm sản phẩm:</label>
                            <div class="inline">
                                <div id="search-tag" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select id="tag-list" data="@Url.Action("KeyList", "Tag", new { ID = Model.ID })" for="tags" tag-add="@Url.Action("AddTag", "Product", new { id = "__ID", subID = Model.ID })" tag-remove="@Url.Action("RemoveTag", "Product", new { id = "__ID", subID = Model.ID })">
                                        <option value="">None</option>
                                    </select>
                                    <a href="@Url.Action("Create", "Tag")" target="_self" for="pop-up-content" ptitle="Nhóm sản phẩm" class="button small add"></a>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label></label><span id="tags" class="tag-list"></span>
                        </div>
                        @*<div>
                <label>Số lượng:</label>
                <span>
                    <select id="warehouse-list" data="@Url.Action("KeyList", "Warehouse", new { ID = Model.ID })">
                        <option value="">Chọn kho</option>
                    </select>
                    <a href="@Url.Action("Create", "Warehouse")" target="_self" for="pop-up-content" ptitle="Kho" class="button small add"></a>
                </span>
            </div>*@
                        <div id="quantities" style="margin-bottom: 15px;"></div>
                    </div>
                    <div class="w100">
                        <label>Mô tả:</label><textarea name="Description">@Model.Description</textarea>
                    </div>
                </div>
                <div id="details" class="tab-body hidden">
                    <div class="w50">
                        <div>
                            <label>Dòng sản phẩm:</label><input class="input" type="text" name="Type" value="@Model.Type"/>
                        </div>
                        <div>
                            <label>Loại máy:</label><input class="input" type="text" name="Engine" value="@Model.Engine"/>
                        </div>
                        <div>
                            <label>Giới tính:</label><input class="input" type="text" name="Gender" value="@Model.Gender"/>
                        </div>
                        <div>
                            <label>Loại kính:</label><input class="input" type="text" name="MirrorType" value="@Model.MirrorType"/>
                        </div>
                        <div>
                            <label>Chất liệu dây:</label><input class="input" type="text" name="TrapMaterial" value="@Model.TrapMaterial"/>
                        </div>
                        <div>
                            <label>Chất liệu vỏ:</label><input class="input" type="text" name="CaseMaterial" value="@Model.CaseMaterial"/>
                        </div>
                        <div>
                            <label>Kiểu vỏ:</label><input class="input" type="text" name="CaseType" value="@Model.CaseType"/>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Màu mặt số:</label><input class="input" type="text" name="FrontColor" value="@Model.FrontColor"/>
                        </div>
                        <div>
                            <label>Bề dày vỏ:</label><input class="input" type="text" name="CaseWidth" value="@Model.CaseWidth"/>
                        </div>
                        <div>
                            <label>Kích thước dây:</label><input class="input" type="text" name="TrapSize" value="@Model.TrapSize"/>
                        </div>
                        <div>
                            <label>Đường kính (mm):</label><input class="input" type="text" name="Diameter" value="@Model.Diameter"/>
                        </div>
                        <div>
                            <label>Độ chịu nước:</label><input class="input" type="text" name="WaterResistance" value="@Model.WaterResistance"/>
                        </div>
                        <div>
                            <label>Chức năng:</label><input class="input" type="text" name="Functions" value="@Model.Functions"/>
                        </div>
                        <div>
                            <label>Phong cách:</label><input class="input" type="text" name="Style" value="@Model.Style"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Lưu" url="@Url.Action("List", "Product")" class="save"/>
            <a href="@Url.Action("List", "Product")" target="_self" for="main-content" ptitle="Sản phẩm" class="button cancel">Hủy</a>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        @*AjaxRequest({
            url: '@Url.Action("Quantities", "Product", new { id = Model.ID })',
            success: function (data) {
                if (data.html) {
                    $('#quantities').html(data.html);
                    ProcessLinks('#quantities');
                }
            }
        });*@
        $('#warehouse-list').on('change', function () {
            var whID = $(this).val(),
                pID = $('input[name="ID"]').val(),
                url = '@Url.Action("EditQuantity", "Product", new { id = "_whID", subID = "_pID" })'.replace('_whID', whID).replace('_pID', pID),
                id = 'quantity-' + pID + '-' + whID,
                name = $(this).find('option[value="' + whID + '"]').html();
            if (whID != '' && $('#quantities #' + id).length == 0) {
                AjaxRequest({
                    url: url,
                    success: function (data) {
                        if (data.html) {
                            $('#quantities').append('<div id="' + id + '"><label>' + name + ':</label><span id="edit-' + id + '">' + data.html + '</span></div>');
                            ProcessLinks('#' + id);
                        }
                    }
                });
            }
        });
        $('#product-info #search-supplier .button').on('click', function () {
            var name = $('#product-info #search-supplier input').val(),
                url = '@Url.Action("Find", "Supplier", new { id = "_Name" })',
                val = $('#product-info select[name="SupplierID"]').attr('value');
            if (name != '') {
                AjaxRequest({
                    url: url.replace('_Name', name),
                    success: function (data) {
                        if (data.list) {
                            var html = '<option value="">None</option>';
                            data.list.forEach(function (item, index) {
                                html += '<option value="' + item.ID + '" ' + (item.ID.toString() == val ? 'selected' : '') + '>' + item.Name + '</option>';
                            });
                            $('#product-info select[name="SupplierID"]').html(html);
                        }
                    }
                });
            }
        });
        $('#product-info #search-tag .button').on('click', function () {
            var name = $('#product-info #search-tag input').val(),
                url = '@Url.Action("Find", "Tag", new { id = "_Name" })',
                val = $('#product-info #tag-list').attr('value');
            if (name != '') {
                AjaxRequest({
                    url: url.replace('_Name', name),
                    success: function (data) {
                        if (data.list) {
                            var html = '<option value="">None</option>';
                            data.list.forEach(function (item, index) {
                                html += '<option value="' + item.ID + '" ' + (item.ID.toString() == val ? 'selected' : '') + '>' + item.Name + '</option>';
                            });
                            $('#product-info #tag-list').html(html);
                        }
                    }
                });
            }
        });
        $('#product-code .button').on('click', function () {
            AjaxRequest({
                url: '@Url.Action("NewUniqueCode", "Product")',
                success: function (data) {
                    if (data.code) {
                        $('#product-code input[name="Code"]').val(data.code);
                    }
                }
            });
        });
    });
</script>