@model SKtimeManagement.RepairModel
<form action="@Url.Action("Submit", "Repair")" method="POST" for="main-content" fail="pop-up-content">
    <input type="hidden" name="ID" value="@Model.Record.ID" />
    <input type="hidden" name="ProductID" value="@Model.Record.ProductID" />
    <input type="hidden" name="WarehouseID" value="@Model.Record.WarehouseID" />
    <input type="hidden" name="Code" value="@Model.Record.Code" />
    <input type="hidden" name="WarehouseName" value="@Model.Record.WarehouseName" />
    <input type="hidden" name="EmployeeName" value="@Model.Record.EmployeeName" />
    <input type="hidden" name="ClientID" value="@Model.Record.ClientID" />
    <input type="hidden" name="ClientName" value="@Model.Record.ClientName" />
    <input type="hidden" name="ClientCode" value="@Model.Record.ClientCode" />
    <input type="hidden" name="ClientPhone" value="@Model.Record.ClientPhone" />
    <input type="hidden" name="ClientAddress" value="@Model.Record.ClientAddress" />
    <input type="hidden" name="SubmitDate" value="@Model.Record.SubmitDate.ToString(Constants.DateTimeString)" />
    <div id="form-message" class="text-center @(Model.Record.Result ? "text-info" : "text-danger")">
        @foreach (var msg in Model.Record.Messages)
            {
            <i>@msg</i><br />
        }
    </div>
    <div>
        @if (Model.Record.ID == 0)
        {
            <div class="tabs inline">
                <div id="heads">
                    <span for="repair-info" class="active">Thông tin</span>
                    <span for="repair-payment-list">Thanh toán</span>
                </div>
            </div>
            <div id="repair-payment-list" class="tab-body hidden">
                <script>
                    AjaxRequest({
                        url: '@Url.Action("GetTransactions", "Repair")',
                        success: function (data) {
                            if (data.html) {
                                $('#repair-payment-list').html(data.html);
                                ProcessForms('#repair-payment-list');
                                ProcessLinks('#repair-payment-list');
                            }
                        }
                    });
                </script>
            </div>
        }
        <div id="@(Model.Record.ID == 0 ? "repair-info" : "")" class="tab-body">
            <div class="flexible">
                <div class="w50">
                    @if (!Model.Record.ProductID.HasValue)
                    {
                        <div>
                            <label>Tên sản phẩm:</label><input class="input" type="text" name="ProductName" value="@Model.Record.ProductName" />
                        </div>
                    }
                    <div>
                        <label>Tình trạng:</label><input class="input" type="text" name="ProductState" value="@Model.Record.ProductState" />
                    </div>
                    <div>
                        <label>Giá tiền:</label>
                        <input type="number" name="Fee" min="0" value="@Model.Record.Fee" />
                    </div>
                    <div>
                        <label>Khuyến mãi:</label>
                        <input type="number" name="Discount" min="0" value="@Model.Record.Discount" />
                    </div>
                    <div>
                        <label>Ghi chú:</label><input class="input" type="text" name="Note" value="@Model.Record.Note" />
                    </div>
                    <div>
                        <label>Khác:</label><input class="input" type="text" name="Other" value="@Model.Record.Other" />
                    </div>
                    <div>
                        <label>Dịch vụ:</label><input class="input" type="text" name="Service" value="@Model.Record.Service" />
                    </div>
                </div>
                <div class="w50">
                    @if (Model.Editable)
                    {
                        <div>
                            <label>Chuyển đến NVBH:</label>
                            <div class="inline">
                                <div class='input-group date' format="@Constants.DateWebString">
                                    <input type='text' class="form-control input" name="TransferDate" value="@(Model.Record.TransferDate.HasValue ? Model.Record.TransferDate.Value.ToString(Constants.DateString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>NVBH nhận:</label>
                            <div class="inline">
                                <div class='input-group date' format="@Constants.DateWebString">
                                    <input type='text' class="form-control input" name="ReceivedDate" value="@(Model.Record.ReceivedDate.HasValue ? Model.Record.ReceivedDate.Value.ToString(Constants.DateString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Chuyển đến CH:</label>
                            <div class="inline">
                                <div class='input-group date' format="@Constants.DateWebString">
                                    <input type='text' class="form-control input" name="ProcessedDate" value="@(Model.Record.ProcessedDate.HasValue ? Model.Record.ProcessedDate.Value.ToString(Constants.DateString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>CH nhận:</label>
                            <div class="inline">
                                <div class='input-group date' format="@Constants.DateWebString">
                                    <input type='text' class="form-control input" name="ReturnedDate" value="@(Model.Record.ReturnedDate.HasValue ? Model.Record.ReturnedDate.Value.ToString(Constants.DateString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <label>Giao hàng:</label>
                        <div class="inline">
                            <div class='input-group date' format="@Constants.DateWebString">
                                <input type='text' class="form-control input" name="FinishDate" value="@Model.Record.FinishDate.ToString(Constants.DateString)" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right">
        @{ 
            var url = Model.Record.ID > 0 ? Url.Action("Detail", "Repair", new { id = Model.Record.ID }) : Url.Action("History", "Repair");
            var forID = Model.Record.ID > 0 ? "repair-detail" : "main-content";
        }
        <input type="submit" value="Lưu" url="@url" class="save" />
        <a href="@url" target="_self" for="@forID" ptitle="Sửa chữa" class="button cancel">Hủy</a>
    </div>
</form>