@model SKtimeManagement.RepairModel
<div style="font-size: 9px; color: #bf3636">
    <div>
        <div>
            <table width="100%">
                <tr>
                    <td width="70%" colspan="2">
                        <div style="text-align: center">
                            <div class="inline">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="@Url.Content("~/Content/images/logo.png")" width="60%" height="auto" />
                                        </td>
                                        <td>
                                            <div style="padding-left: 10px">
                                                <span style="font-weight: bold">
                                                    <span style="font-size: 24px">SKTIME WATCH</span><br />
                                                    <span style="font-size: 14px">HỆ THỐNG ĐỒNG HỒ CHÍNH HÃNG SỐ 1 VIỆT NAM</span><br />
                                                    <span>Bảo hành &amp; dịch vụ hậu mãi tốt nhất !</span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td width="30%" align="right" valign="bottom">
                        <img src="@Model.Record.Code.BarcodeImage()" width="200" height="auto" />
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        <div style="width: 100%">
                            <div style="height: 70px; border: solid 2px #bf3636; border-radius: 10px; background-color: #fff"></div>
                        </div>
                    </td>
                    <td width="40%">
                        <div style="text-align: center">
                            <span style="font-size: 16px">PHIẾU SỬA CHỮA</span><br />
                            <span>Cửa hàng: @Model.Record.ReceiveWarehouseName</span><br />
                            <span>Liên: Khách hàng</span><br />
                            <span>Ngày: @Model.Record.SubmitDate.Day tháng @Model.Record.SubmitDate.Month năm @Model.Record.SubmitDate.Year</span>
                        </div>
                    </td>
                    <td width="30%" class="text-right">
                        <div style="display: inline-block; text-align: left;">
                            <span>Số/ Invoice No: <strong>@Model.Record.Code</strong></span><br />
                            <span>Email: hotro@@sktime.vn</span><br />
                            <span>Website: donghoso1.vn</span><br />
                            <span>Hotline: (08) 38 68 11 68 - 0933 848 858</span><br />
                            <span>Fax: (08) 364 5009</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div>
                <div class="flexible">
                    <div class="w100">
                        <table width="100%">
                            <tr>
                                <td width="40%">
                                    <span>Họ tên khách hàng: @Model.Record.ClientName</span>
                                </td>
                                <td width="30%">
                                    <span>Điện thoại: @Model.Record.ClientPhone</span>
                                </td>
                                <td width="30%">
                                    <span>Tên sản phẩm: @Model.Record.ProductName</span>
                                </td>
                                @*<td width="40%">
                                    <span>Thành viên: @Model.Record.ClientType</span>
                                </td>*@
                            </tr>
                            <tr>
                                <td width="40%">
                                    <span>Mã khách hàng: @Model.Record.ClientCode</span>
                                </td>
                                @*<td width="20%">
                                    <span>Điểm tích lũy: @Model.Record.ClientPointString</span>
                                </td>*@
                                <td width="60%" colspan="2">
                                    <span>Địa chỉ: @Model.Record.ClientAddress</span><br />
                                </td>
                            </tr>
                        </table>
                        <div>
                            <span>Ngày giao hàng dự kiến: <strong>@Model.Record.FinishDate.ToString(Constants.DateString)</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <table width="100%" style="border-collapse: collapse; border: solid 1px #bf3636;">
                <tr style="background-color: #fff">
                    <td align="center" style="border: solid 1px #bf3636">STT<br />(No)</td>
                    <td align="center" style="border: solid 1px #bf3636">Tên hàng hóa dịch vụ<br />(Description)</td>
                    <td align="center" style="border: solid 1px #bf3636">Số lượng<br />(Quantity)</td>
                    <td align="center" style="border: solid 1px #bf3636">Đơn giá<br />(UnitPrice)</td>
                    <td align="center" style="border: solid 1px #bf3636">Thành tiền<br />(Amount)</td>
                </tr>
                <tr>
                    <td align="center" style="border: solid 1px #bf3636">1</td>
                    <td align="center" style="border: solid 1px #bf3636">@Model.Record.Service</td>
                    @*@if (Model.SelectedProduct != null)
                    {
                        <td align="center" style="border: solid 1px #bf3636">@Model.SelectedProduct.Name</td>
                        <td align="center" style="border: solid 1px #bf3636">@Model.SelectedProduct.Code</td>
                        <td align="center" style="border: solid 1px #bf3636">@Model.SelectedProduct.Unit</td>
                    }
                    else
                    {
                        <td align="center" style="border: solid 1px #bf3636">@Model.Record.ProductName</td>
                        <td align="center" style="border: solid 1px #bf3636"></td>
                        <td align="center" style="border: solid 1px #bf3636">Cái</td>
                    }*@
                    <td align="center" style="border: solid 1px #bf3636">1</td>
                    <td align="center" style="border: solid 1px #bf3636">@Model.Record.FeeString</td>
                    <td align="center" style="border: solid 1px #bf3636">@Model.Record.FeeString</td>
                </tr>
                @if (Model.Record.Discount > 0)
                {
                    <tr>
                        <td align="center" style="border: solid 1px #bf3636">2</td>
                        <td align="center" style="border: solid 1px #bf3636">Giảm giá</td>
                        <td align="center" style="border: solid 1px #bf3636"></td>
                        <td align="center" style="border: solid 1px #bf3636">@Model.Record.DiscountString</td>
                        <td align="center" style="border: solid 1px #bf3636"></td>
                    </tr>
                }
            </table>
            <div class="text-center">
                <span>Cộng tiền hàng hóa, dịch vụ/ Total invoice: @((Model.Record.Fee - Model.Record.Discount).GetCurrencyString()) VND (@((Model.Record.Fee - Model.Record.Discount).GetCurrencyFullString()))</span>
            </div>
            <div class="flexible">
                <div class="w100">
                    <span>Tình trạng đồng hồ: @Model.Record.ProductState</span>
                    <span>Ghi chú: @Model.Record.Note</span>
                </div>
                <div class="w50">
                    <div style="font-size: 8px">
                        <strong>Thời gian tiếp nhận bảo hành sửa chữa:</strong><br />
                        <span>- Từ 8h30 đến 21h30 các ngày trong tuần</span><br />
                        <span>- Đồng hồ được sử lý trong vòng 2-7 ngày (tùy từng vấn đề, tùy từng lỗi của đồng hồ thời gian sửa chữa sẽ ngắn dài khác nhau)</span><br />
                        <span>- Quý khách có thể truy cập vào mục bảo hành và sửa chữa trên website donghoso1.vn để biết thông tin chính xác về đồng hồ</span>
                    </div>
                </div>
                <div class="w50">
                    <div style="font-size: 8px">
                        <strong>Địa điểm bảo hành:</strong><br />
                        <span>- Hệ thống các cửa hàng SKTIME và SKYWATCH thuộc các TTTM trên toàn quốc</span><br />
                        <span>- Các hệ thống bảo hành trực tuyến:</span><br />
                        <span>&emsp;+ Donghoso1.vn: 545 Nguyễn Đình Chiểu, P.2, Q.3, Tp.HCM</span><br />
                        <span>&emsp;+ Shopdonghohieu.com: 299 Tô Hiến Thành, P.13, Q.10, Tp.HCM</span>
                    </div>
                </div>
                <div class="w100" style="font-size: 8px;">
                    <strong>Lưu ý:</strong><br />
                    <span>- Phiếu bảo hành sẽ được in thông tin lịch sử bảo hành &amp; sửa chữa đồng hồ của khách hàng</span><br />
                    <span>- Thời gian bảo hành sau khi thay pin, vệ sinh máy: 06 tháng</span><br />
                    <span>- Thời gian bảo hành sau khi thay linh kiện, không vào nước: 01 tháng</span>
                </div>
                <div class="w100">
                    <div>
                        <table width="100%">
                            <tr>
                                <td width="25%" align="center">
                                    <span>Người mua hàng</span><br /><span>Customer</span>
                                </td>
                                <td width="25%" align="center">
                                    <span>Quản lý cửa hàng</span><br /><span>Manager</span>
                                </td>
                                <td width="25%" align="center">
                                    <span>Người bán hàng</span><br /><span>Seller</span>
                                </td>
                                <td width="25%" align="center" rowspan="2" valign="top">
                                    <span>Thủ trưởng đơn vị</span><br /><span>Director</span><br />
                                    <img src="@Url.Content("~/Content/Images/sign.jpg")" width="90" height="auto" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <div style="padding-top: 30px;">
                                        <div class="text-center" style="font-size: 8px;">
                                            Lưu ý phiếu chỉ có giá trị trong vòng 01 tháng<br />
                                            Xin cảm ơn quý khách!<br />
                                            Hotline chăm sóc khách hàng: 0933 848 858
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>