@model SKtimeManagement.ImexItemList
@{ 
    var id = Guid.NewGuid().ToString();
}
<div class="border">
    <span id="title">Tìm sản phẩm</span>
    <div>
        <form action="@Url.Action("SearchProduct", "Repair")" method="post" for="repair-item-filter" ptitle="Sửa chữa">
            <input type="hidden" name="WarehouseID" value="@Model.WarehouseID" />
            <input type="hidden" name="recordID" value="@Model.RecordID" />
            <div>
                <label>Mã:</label><input class="input" type="text" name="Code" value="" />
            </div>
            <div>
                <label>Tên:</label><input class="input" type="text" name="Name" value="" />
            </div>
            <div class="text-right">
                <input type="submit" value="Tìm" class="search" />
            </div>
        </form>
    </div>
    <div>
        <div class="tbl">
            <table data="@id" keys="ID">
                <thead>
                    <tr>
                        <td width="50"></td>
                        <td name="Code"><div>Mã SP</div></td>
                        <td name="Name"><div>Tên</div></td>
                        <td name="QuantityString"><div>Tồn</div></td>
                    </tr>
                </thead>
            </table>
        </div>
        @{
            var scripts = new List<string>();
            if (Model != null)
            {
                var jsonData = Html.JsonSerialize(Model.Data);
                scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
            }
        }
        @Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
        <script>
            _TableFunctions.Init({
                e: '#repair-item-filter',
                input: {
                    id: '@id',
                    input: [
                        {
                            html: '<div><a href="@Url.Action("AddProduct", "Repair", new { id = "_ID", subID = Model.RecordID })" for="repair-item-list" changeurl="false" ptitle="Sửa chữa" class="button-icon add"></a></div>'
                        }
                    ]
                }
            });
            _TableFunctions.RefreshData();
        </script>
    </div>
</div>