@model SKtimeManagement.WarrantyModel
<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("Create", "Import")" target="_self" for="main-content" ptitle="Nhập kho">Nhập kho</a>
        <a href="@Url.Action("Create", "Export")" target="_self" for="main-content" ptitle="Xuất kho">Xuất kho</a>
        <a href="@Url.Action("Create", "Order")" target="_self" for="main-content" ptitle="Hóa đơn">Hóa đơn</a>
        <span class="active">Bảo hành</span>
        <a href="@Url.Action("Create", "Repair")" target="_self" for="main-content" ptitle="Sửa chữa">Sửa chữa</a>
    </div>
</div>
<div id="warranty" class="flexible">
    <div id="selector" class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <div class="tabs inline">
                    <div id="heads">
                        <span for="search-order" class="active">Hóa đơn</span>
                        <span for="search-product">Sản phẩm</span>
                    </div>
                </div>
                <div id="search-order" class="tab-body">
                    <form action="@Url.Action("OrderList", "Warranty")" method="post" for="search-list" ptitle="Bảo hành">
                        <div>
                            <label>Kho:</label>
                            <select name="WarehouseID" data="@Url.Action("AuthorizedWarehouse", "Login")" value="@Model.Filter.WarehouseID">
                                <option>None</option>
                            </select>
                        </div>
                        <div>
                            <label>Mã hóa đơn:</label><input type="text" class="input" name="Code" value="@Model.Filter.Code" />
                        </div>
                        <div>
                            <label>Từ:</label>
                            <div class='input-group date'>
                                <input type='text' class="form-control input" name="From" value="@(Model.Filter.From.HasValue ? Model.Filter.From.Value.ToString(Constants.DateTimeString) : "")" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label>Đến:</label>
                            <div class='input-group date'>
                                <input type='text' class="form-control input" name="To" value="@(Model.Filter.To.HasValue ? Model.Filter.To.Value.ToString(Constants.DateTimeString) : "")" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="@Url.Action("History", "Warranty" )" target="_self" class="button view" for="main-content" ptitle="Bảo hành">Lịch sử</a>
                            <input type="submit" value="Tìm" class="search" />
                        </div>
                    </form>
                </div>
                <div id="search-product" class="tab-body hidden">
                    <form action="@Url.Action("ProductList", "Warranty")" method="post" for="search-list" ptitle="Bảo hành">
                        <div>
                            <label>Mã:</label><input class="input" type="text" name="Code" value="" />
                        </div>
                        <div>
                            <label>Tên:</label><input class="input" type="text" name="Name" value="" />
                        </div>
                        <div>
                            <label>Nhóm sản phẩm:</label>
                            <div class="inline">
                                <div id="search-tag" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select name="TagID" data="@Url.Action("KeyList", "Tag")" value="">
                                        <option value="">None</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="@Url.Action("History", "Warranty" )" target="_self" class="button view" for="main-content" ptitle="Bảo hành">Lịch sử</a>
                            <input type="submit" value="Tìm" class="search" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="search-list" class="group">
            @if (Model.Orders != null)
            {
                @Html.Partial("Orders", Model.Orders)
            }
            else if (Model.Products != null)
            {
                @Html.Partial("Products", Model.Products)
            }
        </div>
    </div>
    <div class="w75">
        <div class="group">
            <h3 class="head-line">Thông tin hóa đơn</h3>
            <div id="selected-order">
                @if (Model.SelectedOrder != null)
                {
                    @Html.Partial("SelectedOrder", Model.SelectedOrder)
                }
                else if (Model.SelectedProduct != null)
                {
                    @Html.Partial("OldOrder", Model)
                }
            </div>
        </div>
        <div class="group">
            <h3 class="head-line">Thông tin bảo hành</h3>
            <div id="warranty-detail">
                @Html.Partial("SelectedProduct", Model)
            </div>
        </div>
    </div>
</div>