@model SKtimeManagement.TransactionList
<div>
    <div>
        <form action="@Url.Action("AddTransaction", "Warranty")" method="post" ptitle="Bảo hành" for="warranty-payment-list">
            <input type="hidden" name="WarrantyID" value="@Model.RecordID"/>
            @if (!Model.Editable)
            {
                <input type="hidden" name="TransferDate" value="@DateTime.Now.ToString(Constants.DateTimeString)" />
            }
            <div class="flexible">
                <div class="w100">
                    <label>Phương thức:</label>
                    <select name="Method">
                        @foreach (var method in PayMethod.List)
                        {
                            <option value="@method">@method</option>
                        }
                    </select>
                </div>
                <div class="w100">
                    <div>
                        <label>Số tiền:</label>
                        <input type="number" name="Amount" value="0"/>
                    </div>
                </div>
                @if (Model.Editable)
                {
                    <div class="w100">
                        <div>
                            <label>Ngày nhận tiền:</label>
                            <div class="inline">
                                <div class='input-group date'>
                                    <input type='text' class="form-control input" name="TransferDate" value="@DateTime.Now.ToString(Constants.DateTimeString)" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="w100">
                    <label></label>
                    @if (Model.RecordID > 0)
                    {
                        <input type="submit" value="Lưu" class="save" />
                    }
                    else
                    {
                        <span class="button save" id="new-transactions">Lưu</span>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="tbl">
        <table id="warranty-transactions">
            <thead>
                <tr id="head">
                    <td width="50"></td>
                    <td>Số tiền</td>
                    <td>Ngày nhận</td>
                    <td>Phương thức</td>
                    <td>Nhân viên nhận</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.RecordID > 0)
                {
                    foreach (var tran in Model.Data)
                    {
                        <tr class="data">
                            <td><div><a class="button-icon remove" href="@Url.Action("RemoveTransaction", "Warranty", new { id = tran.ID, subID = tran.WarrantyID })" for="warranty-payment-list" changeurl="false"></a></div></td>
                            <td><div text="right"><span>@tran.Amount.GetCurrencyString()</span></div></td>
                            <td><div><span>@tran.TransferDate.ToString(Constants.DateTimeString)</span></div></td>
                            <td><div><span>@tran.Method</span></div></td>
                            <td><div><span>@tran.EmployeeName</span></div></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.RecordID <= 0)
{
    <script>
        var transactions = [];
        function _padLeft(value, length, string) {
            value = value.toString();
            string = string ? string : '0';
            var count = value.length < length ? length - value.length : 0;
            for (var i = count; i > 0; i--) {
                value = string + value;
            }
            return value;
        }
        $('#new-transactions').on('click', function () {
            var date = $('form[for="warranty-payment-list"] input[name="TransferDate"]').val(),
                amount = parseFloat($('form[for="warranty-payment-list"] input[name="Amount"]').val()),
                method = $('form[for="warranty-payment-list"] select[name="Method"]').val();
            if (date != '' && amount > 0 && method != '') {
                transactions.push({
                    TransferDate: date,
                    Amount: amount,
                    Method: method,
                    EmployeeName: '@Model.EmployeeName'
                });
                $('form[for="warranty-payment-list"] input[name="Amount"]').val(0);
            }
            var now = new Date(),
                nowString = _padLeft(now.getDate(), 2) + '-' + _padLeft(now.getMonth() + 1, 2) + '-' + _padLeft(now.getFullYear(), 2) + ' ' +
                            _padLeft(now.getHours(), 2) + ':' + _padLeft(now.getMinutes(), 2) + ':' + _padLeft(now.getSeconds(), 2);
            $('form[for="warranty-payment-list"] input[name="TransferDate"]').val(nowString);
            _RefreshTransactionList();
        });
        function _RefreshTransactionList() {
            var paid = 0;
            $('#warranty-transactions tbody').html('');
            transactions.forEach(function (e, i) {
                $('#warranty-transactions tbody').append(
                    '<tr class="data">' +
                        '<td><div><span class="button-icon remove" dindex="' + i + '"></span></div></td>' +
                        '<td><div text="right"><span>' + GetCurrencyString(e.Amount) + '</span><input type="hidden" name="Transactions[' + i + '].Amount" value="' + e.Amount + '"/></div></td>' +
                        '<td><div><span>' + e.TransferDate + '</span><input type="hidden" name="Transactions[' + i + '].TransferDate" value="' + e.TransferDate + '"/></div></td>' +
                        '<td><div><span>' + e.Method + '</span><input type="hidden" name="Transactions[' + i + '].Method" value="' + e.Method + '"/></div></td>' +
                        '<td><div><span>' + e.EmployeeName + '</span><input type="hidden" name="Transactions[' + i + '].EmployeeName" value="' + e.EmployeeName + '"/></div></td>' +
                    '</tr>');
                paid += e.Amount;
            });
            $('#warranty-transactions tbody .remove').on('click', _RemoveTransaction);
        }
        function _RemoveTransaction() {
            var index = parseInt($(this).attr('dindex'));
            transactions.splice(index, 1);
            _RefreshTransactionList();
        }
    </script>
}
else
{
    <script>
        $('#warrant-info #paid').html('@Model.Data.Sum(i => i.Amount).GetCurrencyString()');
    </script>
}