@model SKtimeManagement.ProductInfo
<h3 class="text-center">Sản phẩm</h3>
@if (Model != null)
{
    <div id="product-detail" class="flexible">
        <div class="w20">
            <div>
                <label class="inline">Ảnh:</label><br />
                <span class="image"><img class="thumb" src="@Url.Image("Product", Model.Image)" /></span>
            </div>
        </div>
        <div class="w80">
            <div class="tabs inline">
                <div id="heads">
                    <span for="infos" class="active">Thông tin chung</span>
                    <span for="details">Thông số</span>
                </div>
            </div>
            <div id="infos" class="tab-body">
                <div class="w50">
                    <div>
                        <label>Mã vạch:</label><span class="info">@Model.Code</span>
                    </div>
                    <div>
                        <label>Tên:</label><span class="info">@Model.Name</span>
                    </div>
                    <div>
                        <label>Nhóm sản phẩm:</label><span id="tags" class="info tag-list"></span>
                    </div>
                    @*<div>
                <label>Số lượng </label><div id="quantities" class="info"></div>
            </div>*@
                    <div>
                        <label>Nhà cung cấp:</label><span class="info">@Model.SupplierName</span>
                    </div>
                    <div>
                        <label>Xuất xứ:</label><span class="info">@Model.MadeIn</span>
                    </div>
                </div>
                <div class="w50">
                    <div>
                        <label>Thời gian bảo hành (chính hãng):</label><span class="info">@Model.OriginalWarranty</span>
                    </div>
                    <div>
                        <label>Thời gian bảo hành (đơn vị):</label><span class="info">@Model.BussinessWarranty</span>
                    </div>
                    <div>
                        <label>Giá bán lẻ:</label><span class="info">@Model.PriceString VND</span>
                    </div>
                    <div>
                        <label>Đơn vị tính:</label><span class="info">@Model.Unit</span>
                    </div>
                    <div>
                        <label>Điểm tích lũy:</label><span class="info">@Model.PointString</span>
                    </div>
                </div>
                <div class="w100">
                    <label>Mô tả:</label><span class="info">@Model.Description</span>
                </div>
            </div>
            <div id="details" class="tab-body hidden">
                <div class="w50">
                    <div>
                        <label>Dòng sản phẩm:</label><span class="info">@Model.Type</span>
                    </div>
                    <div>
                        <label>Loại máy:</label><span class="info">@Model.Engine</span>
                    </div>
                    <div>
                        <label>Giới tính:</label><span class="info">@Model.Gender</span>
                    </div>
                    <div>
                        <label>Loại kính:</label><span class="info">@Model.MirrorType</span>
                    </div>
                    <div>
                        <label>Chất liệu dây:</label><span class="info">@Model.TrapMaterial</span>
                    </div>
                    <div>
                        <label>Chất liệu vỏ:</label><span class="info">@Model.CaseMaterial</span>
                    </div>
                    <div>
                        <label>Kiểu vỏ:</label><span class="info">@Model.CaseType</span>
                    </div>
                </div>
                <div class="w50">
                    <div>
                        <label>Màu mặt số:</label><span class="info">@Model.FrontColor</span>
                    </div>
                    <div>
                        <label>Bề dày vỏ:</label><span class="info">@Model.CaseWidth</span>
                    </div>
                    <div>
                        <label>Kích thước dây:</label><span class="info">@Model.TrapSize</span>
                    </div>
                    <div>
                        <label>Đường kính (mm):</label><span class="info">@Model.Diameter</span>
                    </div>
                    <div>
                        <label>Độ chịu nước:</label><span class="info">@Model.WaterResistance</span>
                    </div>
                    <div>
                        <label>Chức năng:</label><span class="info">@Model.Functions</span>
                    </div>
                    <div>
                        <label>Phong cách:</label><span class="info">@Model.Style</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        @*AjaxRequest({
            url: '@Url.Action("Quantities", "Product", new { id = Model.ID })',
            success: function (data) {
                if (data.html) {
                    $('#quantities').html(data.html);
                    $('#quantities').find('a').remove();
                }
            }
        });*@
        AjaxRequest({
            url: '@Url.Action("KeyList", "Tag", new { ID = Model.ID })',
            type: 'post',
            processData: false,
            success: function (data) {
                if (data.tagged) {
                    data.tagged.forEach(function (e, i) {
                        if (e) {
                            var tag = $('<span class="tag" value="' + data.id[i] + '"><span id="name">' + data.name[i] + '</span></span>');
                            $('#tags').append(tag);
                        }
                    });
                }
            }
        });
    });
    </script>
}
else
{
    <div class="text-center text-danger">
        Sản phẩm không tồn tại
    </div>
}
<div class="text-right">
    <a href="@Url.Action("List", "Product")" target="_self" class="button cancel" for="main-content" ptitle="Sản phẩm">Trở về</a>
</div>