@model SKtimeManagement.ProductInfo
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="tabs">
    <div id="heads">
        <span class="active">Sản phẩm</span>
        <a href="@Url.Action("List", "Tag")" target="_self" for="main-content" ptitle="Nhóm sản phẩm">Nhóm sản phẩm</a>
        <a href="@Url.Action("List", "Warehouse")" target="_self" for="main-content" ptitle="Kho hàng">Kho hàng</a>
        <a href="@Url.Action("List", "Supplier")" target="_self" for="main-content" ptitle="Nhà cung cấp">Nhà cung cấp</a>
    </div>
</div>
<div class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("List", "Product")" method="post" for="main-content" ptitle="Sản phẩm">
                    <div>
                        <label>Mã:</label><input class="input" type="text" name="Code" value="" />
                    </div>
                    <div>
                        <label>Tên:</label><input class="input" type="text" name="Name" value="" />
                    </div>
                    <div>
                        <label>Nhà cung cấp:</label>
                        <span>
                            <select name="SupplierID" data="@Url.Action("KeyList", "Supplier")" value="">
                                <option value="">None</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <input type="submit" value="Tìm" url="@Url.Action("List", "Product")" class="search"/>
                        <a href="@Url.Action("Create", "Product" )" target="_self" class="button add" for="pop-up-content" ptitle="Sản phẩm">Tạo mới</a>
                        <a href="@Url.Action("Import", "Product" )" target="_self" class="button save" for="pop-up-content" ptitle="Sản phẩm">Import</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        @Html.Partial(Views.DetailPartial, Model)
    </div>
</div>