@model SKtimeManagement.ProductList
@{
    var id = Guid.NewGuid().ToString();
}
@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="text-center">
        <i class="text-info">@Html.Raw(Model.Message)</i>
    </div>
}
<div id="import-form">
    <form action="@Url.Action("SubmitImportData", "Product")" method="post" for="main-content" fail="pop-up-content">
        <div>
            <input type="file" name="File" />
        </div>
        <div>
            <span>File mẫu: </span><a href="@Url.Action("ImportTemplate", "Product")" target="_self">Tải về</a>
        </div>
        <div>
            <input type="submit" value="Upload" class="save"/>
            <a href="@Url.Action("List", "Product")" target="_self" for="main-content" ptitle="Sản phẩm" class="button cancel">Hủy</a>
        </div>
    </form>
</div>
<div id="import-products" class="tbl">
    <table id="product-table" data="@id">
        <thead>
            <tr>
                <td name="Code"><div>Mã vạch</div></td>
                <td name="Name"><div>Tên</div></td>
                <td name="MadeIn"><div>Xuất xứ</div></td>
                <td name="OriginalWarranty"><div>Thời gian bảo hành (chính hãng)</div></td>
                <td name="BussinessWarranty"><div>Thời gian bảo hành (đơn vị)</div></td>
                <td name="SupplierName"><div>Nhà cung cấp</div></td>
                <td name="TagName"><div>Nhóm sản phẩm</div></td>
                <td name="Unit"><div>Đơn vị tính</div></td>
                <td name="Price" text="right"><div>Giá bán lẻ</div></td>
                <td name="Point" text="right"><div>Điểm tích lũy</div></td>
            </tr>
        </thead>
    </table>
</div>
@{
    var scripts = new List<string>();
    if (Model.Data != null)
    {
        var jsonData = Html.JsonSerialize(Model.Data);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({ e: '#import-products' });
    _TableFunctions.RefreshData();
    $('#import-form input[name="File"]').on('change', function () {
        var files = this.files;
        for (var i = 0; i < files.length; i++) {
            var data = new FormData();
            data.append(files[i].name, files[i]);
            AjaxRequest({
                url: '@Url.Action("UploadImportData", "Product")',
                type: 'post',
                data: data,
                processData: false,
                success: function (data) {
                    if (data.html) {
                        $('#pop-up-content').html(data.html);
                        ProcessLinks('#pop-up-content');
                        ProcessForms('#pop-up-content');
                    }
                    //console.log('saved');
                },
                uploadProgress: function (progress) {
                    //console.log(progress);
                }
            });
        }
    });
</script>