@model SKtimeManagement.ExportRecord
@if (Model.Products != null)
{
    <div class="flexible">
        <div class="w33">
            <div>
                <label>Mã hóa đơn:</label><span class="info">@Model.Code</span>
            </div>
            <div>
                <label>Khách hàng:</label><span class="info">@Model.ClientName</span>
            </div>
        </div>
        <div class="w33">
            <div>
                <label>Số hóa đơn:</label><span class="info">@Model.Receipt</span>
            </div>
            <div>
                <label>Ngày tạo:</label><span class="info">@Model.SubmitDate.ToString(Constants.DateTimeString)</span>
            </div>
        </div>
        <div class="w33">
            <div>
                <label>Tổng tiền:</label><span class="info">@Model.Products.Sum(p => p.Price * p.Quantity).GetCurrencyString() VND</span>
            </div>
            <div>
                <label>Trạng thái:</label><span class="info @(Model.StatusValue == "Đã thanh toán" ? "text-info" : "text-danger")">@Model.StatusValue</span>
            </div>
        </div>
        <div class="w100">
            <label>Ghi chú:</label><span class="info">@Model.Note</span>
        </div>
    </div>
    <div>
        <a href="@Url.Action("Update", "Order", new { id = Model.ID })" target="_self" class="button" for="order-detail" ptitle="Hóa đơn">Cập nhật</a>
    </div>
}