@model SKtimeManagement.EmployeeInfo
<div id="employee-info">
    <h3 class="text-center">Nhân viên</h3>
    <form action="@Url.Action("Save", "Employee")" method="POST" for="main-content" fail="pop-up-content" class="lg">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="BussinessID" value="@Model.BussinessID" />
        <input type="hidden" name="Image" value="@Model.Image" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w20">
                <div>
                    <label class="inline">Ảnh:</label><br />
                    <span class="image"><img class="thumb" src="@Url.Image("Employee", Model.Image)" for="ImageInput" /></span>
                </div>
                <div>
                    <label></label><input type="file" name="ImageInput" value="@Model.Image" folder="Employee" url="@Url.Action("UploadFile", "Main")" for="Image" />
                </div>
            </div>
            <div class="w80">
                <div class="flexible">
                    <div class="w50">
                        <div>
                            <label>Họ tên:</label><input class="input" type="text" name="Name" value="@Model.Name" valid="@(Model.Valid("Name") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Địa chỉ:</label><input class="input" type="text" name="Address" value="@Model.Address" />
                        </div>
                        <div>
                            <label>Tài khoản đăng nhập:</label>
                            <div class="inline">
                                <div id="search-login" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select name="LoginID" data="@Url.Action("UnassignedList", "Login")" value="@Model.LoginID">
                                        <option value="">None</option>
                                        @if (!String.IsNullOrEmpty(Model.Username))
                                        {
                                            <option value="@Model.LoginID" selected="selected">@Model.Username</option>
                                        }
                                    </select>
                                    <a href="@Url.Action("Create", "Login")" target="_self" for="pop-up-content" ptitle="Đăng nhập" class="button small add"></a>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label>Số điện thoại:</label><input class="input" type="text" name="Phone" value="@Model.Phone" valid="@(Model.Valid("Phone") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Ngày sinh:</label>
                            <div class="inline">
                                <div class='input-group date'>
                                    <input type='text' class="form-control input" name="DOB" value="@(Model.DOB.HasValue ? Model.DOB.Value.ToString(Constants.DateTimeString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Ngày vào làm:</label>
                            <div class="inline">
                                <div class='input-group date'>
                                    <input type='text' class="form-control input" name="StartDate" value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString(Constants.DateTimeString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Ngày nghỉ luôn:</label>
                            <div class="inline">
                                <div class='input-group date'>
                                    <input type='text' class="form-control input" name="EndDate" value="@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString(Constants.DateTimeString) : "")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Tài khoản NH:</label><input class="input" type="text" name="BankNumber" value="@Model.BankNumber" />
                        </div>
                        <div>
                            <label>Tên NH:</label><input class="input" type="text" name="BankName" value="@Model.BankName" />
                        </div>
                        <div>
                            <label>Chi nhánh NH:</label><input class="input" type="text" name="BankBranch" value="@Model.BankBranch" />
                        </div>
                        <div>
                            <label>Trạng thái:</label>
                            <select name="WorkStatus">
                                @foreach (var status in EmployeeWorkStatus.List)
                                {
                                    <option value="@status" @(Model.WorkStatus == status ? "selected" : "")>@status</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Chức vụ:</label>
                            <select name="Position">
                                @foreach (var position in EmployeePosition.List)
                                {
                                    <option value="@position" @(Model.Position == position ? "selected" : "")>@position</option>
                                }
                            </select>
                            @*<input class="input" type="text" name="Position" value="@Model.Position" valid="@(Model.Valid("Position") ? "true" : "false")" />*@
                        </div>
                        <div>
                            <label>Cửa hàng:</label>
                            <div class="inline">
                                <div id="search-store" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select name="StoreID" data="@Url.Action("StoreList", "Setting")" value="@Model.StoreID">
                                        <option value="">None</option>
                                    </select>
                                    <a href="@Url.Action("StoreCreate", "Setting")" target="_self" for="pop-up-content" ptitle="Cửa hàng" class="button small add"></a>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label>Thời gian làm việc:</label><input class="input" type="text" name="WorkTime" value="@Model.WorkTime" />
                        </div>
                        <div>
                            <label>Doanh số bàn hàng/ tháng:</label><input type="number" min="0" name="MonthlySale" value="@Model.MonthlySale" />
                        </div>
                        <div>
                            <label>Lương căn bản:</label><input type="number" min="0" name="BaseSalary" value="@Model.BaseSalary" />
                        </div>
                        <div>
                            <label>Lương tăng:</label><input type="number" min="0" name="AdditionalSalary" value="@Model.AdditionalSalary" />
                        </div>
                        <div>
                            <label>Số ngày làm việc:</label><input type="number" min="0" name="WorkDays" value="@Model.WorkDays" />
                        </div>
                        <div>
                            <label>Số ngày nghỉ:</label><input type="number" min="0" name="WorkTime" value="@Model.OffDays" />
                        </div>
                    </div>
                    <div class="w100">
                        <div>
                            <label>Lí lịch:</label><textarea name="Summary">@Model.Summary</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Lưu" url="@Url.Action("List", "Employee")" class="save"/>
            <a href="@Url.Action("List", "Employee")" target="_self" for="main-content" ptitle="Nhân viên" class="button cancel">Hủy</a>
        </div>
    </form>
</div>
<script>
    $('#employee-info #search-store .button').on('click', function () {
        var name = $('#employee-info #search-store input').val(),
            url = '@Url.Action("FindStore", "Setting", new { id = "_Name" })',
            val = $('#employee-info select[name="StoreID"]').attr('value');
        if (name != '') {
            AjaxRequest({
                url: url.replace('_Name', name),
                success: function (data) {
                    if (data.list) {
                        var html = '<option value="">None</option>';
                        data.list.forEach(function (store, index) {
                            html += '<option value="' + store.ID + '" ' + (store.ID.toString() == val ? 'selected' : '') + '>' + store.Name + '</option>';
                        });
                        $('#employee-info select[name="StoreID"]').html(html);
                    }
                }
            });
        }
    });
    $('#employee-info #search-login .button').on('click', function () {
        var name = $('#employee-info #search-login input').val(),
            url = '@Url.Action("Find", "Login", new { id = "_Name" })',
            val = $('#employee-info select[name="LoginID"]').attr('value');
        if (name != '') {
            AjaxRequest({
                url: url.replace('_Name', name),
                success: function (data) {
                    if (data.list) {
                        var html = '<option value="">None</option>';
                        data.list.forEach(function (login, index) {
                            html += '<option value="' + login.ID + '" ' + (login.ID.toString() == val ? 'selected' : '') + '>' + login.Name + '</option>';
                        });
                        $('#employee-info select[name="LoginID"]').html(html);
                    }
                }
            });
        }
    });
</script>