@model SKtimeManagement.RepairModel
<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("Create", "Import")" target="_self" for="main-content" ptitle="Nhập kho">Nhập kho</a>
        <a href="@Url.Action("Create", "Export")" target="_self" for="main-content" ptitle="Xuất kho">Xuất kho</a>
        <a href="@Url.Action("Create", "Order")" target="_self" for="main-content" ptitle="Hóa đơn">Hóa đơn</a>
        <a href="@Url.Action("Create", "Warranty")" target="_self" for="main-content" ptitle="Bảo hành">Bảo hành</a>
        <span class="active">Sửa chữa</span>
    </div>
</div>
<div id="repair" class="flexible">
    <div id="selector" class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <div id="search-product">
                    <form action="@Url.Action("ProductList", "Repair")" method="post" for="search-list" ptitle="Sửa chữa">
                        <div>
                            <label>Mã:</label><input class="input" type="text" name="Code" value="" />
                        </div>
                        <div>
                            <label>Tên:</label><input class="input" type="text" name="Name" value="" />
                        </div>
                        <div>
                            <label>Nhóm sản phẩm:</label>
                            <div class="inline">
                                <div id="search-tag" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <span>
                                    <select name="TagID" data="@Url.Action("KeyList", "Tag")" value="">
                                        <option value="">None</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="@Url.Action("History", "Repair" )" target="_self" class="button view" for="main-content" ptitle="Sửa chữa">Lịch sử</a>
                            <input type="submit" value="Tìm" class="search" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="search-list" class="group">
            @if (Model.Products != null)
            {
                @Html.Partial("Products", Model.Products)
            }
        </div>
    </div>
    <div class="w75">
        <div class="group">
            <h3 class="head-line">Thông tin khách hàng</h3>
            <div id="selected-product">
                @Html.Partial("Client", Model)
            </div>
        </div>
        <div class="group">
            <h3 class="head-line">Thông tin sửa chữa</h3>
            <div id="repair-detail">
                @Html.Partial("SelectedProduct", Model)
            </div>
        </div>
    </div>
</div>