@model SKtimeManagement.RepairModel
@if (Model != null && Model.Record != null && Model.Record.WarehouseID > 0)
{
    <div class="flexible">
        <div class="w20">
            <div class="text-center">
                @if (Model.SelectedProduct != null)
                {
                    <span class="image"><img class="thumb" src="@Url.Image("Product", Model.SelectedProduct.Image)" /></span><br />
                    <strong>@Model.SelectedProduct.Name</strong><br /><strong>@Model.SelectedProduct.Code</strong>
                }
                else
                {
                    <span class="image"><img class="thumb" src="@Url.Image("Product", null)" /></span>
                }
            </div>
        </div>
        <div class="w80">
            @Html.Partial("Edit", Model)
        </div>
    </div>
    <script>
        NumberInput('#repair-detail');
    </script>
}
else
{
    <div class="text-danger text-center">
        @foreach (var msg in Model.Record.Messages)
        {
            <strong>@msg</strong><br />
        }
    </div>
}