@model SKtimeManagement.ExportRecord
<div class="flexible">
    <div class="w50">
        <strong style="font-size: 18px">SKTIME SHOP</strong><br />
        <span>HCMC, VIETNAM</span><br />
        <span>ĐT: 0933 848 858</span>
    </div>
    <div class="w50">
        <strong style="font-size: 26px;">PHIẾU XUẤT HÀNG</strong><br />
        <div class="flexible">
            <div class="w50" style="padding-left: 0">
                <span>Ngày tạo: @Model.SubmitDate.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="w50">
                <span>Mã: <strong>@Model.Code</strong></span>
            </div>
        </div>
    </div>
</div>
<div class="flexible">
    <div class="w50">
        <span>Khách hàng: <strong>@Model.ClientName</strong></span><br />
        <span>Địa chỉ: <strong>@Model.ClientAddress</strong></span><br />
        <span>Điện thoại: <strong>@Model.ClientPhone</strong></span>
    </div>
    <div class="w50">
        <span>Đại diện: <strong>@Model.EmployeeName</strong></span><br />
        <span>Kho xuất: <strong>@Model.WarehouseName</strong></span><br />
        <span>Kho nhập: <strong>@Model.ToWarehouseName</strong></span><br />
        <span>Trạng thái xuất: <strong>@Model.Status</strong></span>
    </div>
</div>
<div>
    <table width="100%" style="border-collapse: collapse; border: solid 1px #bf3636; margin: 10px 0;">
        <tr>
            <td align="center" style="border: solid 1px #bf3636"><strong>STT</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>MÃ SP</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>TÊN SẢN PHẨM</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>ĐƠN VỊ TÍNH</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>SỐ LƯỢNG</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>ĐƠN GIÁ</strong></td>
            <td align="center" style="border: solid 1px #bf3636" width="150"><strong>THÀNH TIỀN</strong></td>
        </tr>
        @for (var i = 0; i < Model.Products.Count; i++)
        {
            <tr>
                <td align="center" style="border: solid 1px #bf3636"><span>@(i + 1)</span></td>
                <td align="center" style="border: solid 1px #bf3636"><span>@Model.Products[i].Code</span></td>
                <td align="left" style="border: solid 1px #bf3636; padding-left: 10px;"><span>@Model.Products[i].ProductName</span></td>
                <td align="center" style="border: solid 1px #bf3636"><span>@Model.Products[i].Unit</span></td>
                <td align="center" style="border: solid 1px #bf3636"><span>@Model.Products[i].QuantityString</span></td>
                <td align="center" style="border: solid 1px #bf3636"><span>@Model.Products[i].PriceString</span></td>
                <td align="right" style="border: solid 1px #bf3636; padding-right: 10px;"><span>@((Model.Products[i].Price * Model.Products[i].Quantity).GetCurrencyString())</span></td>
            </tr>
        }
        <tr>
            <td align="center" style="border: solid 1px #bf3636"><strong></strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong></strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>TỔNG CỘNG</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong></strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong>@Model.Products.Sum(p => p.Quantity).GetCurrencyString()</strong></td>
            <td align="center" style="border: solid 1px #bf3636"><strong></strong></td>
            <td align="right" style="border: solid 1px #bf3636; padding-right: 10px;"><strong>@Model.Products.Sum(p => p.Price * p.Quantity).GetCurrencyString()</strong></td>
        </tr>
    </table>
    <div class="flexible">
        <div class="w50">
            <span>Ngày giờ in phiếu: <span id="date"></span></span>
        </div>
        <div class="w50 text-right">
            <div>
                <span>TIỀN HÀNG (VND):</span>
                <div style="display: inline-block; width: 150px">@Model.Products.Sum(p => p.Price * p.Quantity).GetCurrencyString()</div>
            </div>
            <div>
                <span>CHIẾT KHẤU (VND):</span>
                <div style="display: inline-block; width: 150px">@Model.DiscountString</div>
            </div>
            <div>
                <span>TỔNG CỘNG (VND):</span>
                <div style="display: inline-block; width: 150px">@((Model.Products.Sum(p => p.Price * p.Quantity) - Model.Discount).GetCurrencyString())</div>
            </div>
        </div>
    </div>
    <div>
        <span>Ghi chú: <strong>@Model.Note</strong></span>
    </div>
    <table width="100%">
        <tr>
            <td align="center" width="33%">NGƯỜI MUA HÀNG</td>
            <td align="center" width="33%">NGƯỜI GIAO HÀNG</td>
            <td align="center" width="33%">NGƯỜI LẬP PHIẾU</td>
        </tr>
    </table>
</div>