@model SKtimeManagement.BussinessInfo
<div class="tabs">
    <div id="heads">
        <span class="active">Công ty/ đơn vị</span>
        <a href="@Url.Action("Store", "Setting")" target="_self" for="main-content" ptitle="Cửa hàng">Cửa hàng</a>
    </div>
</div>
<div id="bussiness">
    <form action="@Url.Action("BussinessUpate", "Setting")" method="POST" for="main-content">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="Logo" value="@Model.Logo"/>
        <div id="message" class="@(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w20">
                <div>
                    <label class="inline">Logo:</label><br />
                    <span class="image"><img class="thumb" src="@Url.Image("Bussiness", Model.Logo)" for="LogoInput" /></span>
                </div>
                <div>
                    <input type="file" name="LogoInput" value="@Model.Logo" folder="Bussiness" url="@Url.Action("UploadFile", "Main")" for="Logo" />
                </div>
            </div>
            <div class="w80">
                <div class="flexible">
                    <div class="w50">
                        <div>
                            <label>Tên công ty/ đơn vị:</label><input class="input" type="text" name="Name" value="@Model.Name" valid="@(Model.Valid("Name") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Địa chỉ:</label><input class="input" type="text" name="Address" value="@Model.Address" />
                        </div>
                        <div>
                            <label>Số điện thoại:</label><input class="input" type="text" name="Phone" value="@Model.Phone" valid="@(Model.Valid("Phone") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Fax:</label><input class="input" type="text" name="Fax" value="@Model.Fax" />
                        </div>
                        <div>
                            <label>Mã số thuế:</label><input class="input" type="text" name="TaxNumber" value="@Model.TaxNumber" />
                        </div>
                        <div>
                            <label>Giảm giá:</label><input class="input" type="number" name="DefaultDiscount" value="@Model.DefaultDiscount" />
                        </div>
                        <div>
                            <label>Mua thiếu:</label><input type="checkbox" name="AllowDeptCheck" @(Model.AllowDept ? "checked=\"checked\"" : "") />
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>TK ngân hàng:</label><input class="input" type="text" name="BankNumber" value="@Model.BankNumber" />
                        </div>
                        <div>
                            <label>Email:</label><input class="input" type="text" name="Email" value="@Model.Email" valid="@(Model.Valid("Email") ? "true" : "false")" />
                        </div>
                        <div>
                            <label>Website:</label><input class="input" type="text" name="Website" value="@Model.Website" />
                        </div>
                        <div>
                            <label>Giám đốc</label><input class="input" type="text" name="Director" value="@Model.Director" />
                        </div>
                        <div>
                            <label>Kế toán:</label><input class="input" type="text" name="Accountant" value="@Model.Accountant" />
                        </div>
                    </div>
                    <div class="w100">
                        <label></label><input type="submit" value="Cập nhật"  class="save"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>