@model IEnumerable<SKtimeManagement.EmployeeFine>
@{
    var id = Guid.NewGuid().ToString();
    var tableID = Guid.NewGuid().ToString();
}
<div>
    <h3 class="text-center">Phạt vi phạm</h3>
    <div class="flexible">
        <div class="w50">
            <label>Số lần:</label><span class="info">@Model.Count().GetCurrencyString()</span>
        </div>
        <div class="w50">
            <label>Tổng tiền phạt:</label><span class="info">@Model.Sum(i => i.Amount).GetCurrencyString()</span>
        </div>
    </div>
    <div id="@tableID" class="tbl">
        <table data="@id" keys="ID,EmployeeID">
            <thead>
                <tr>
                    <td name="AmountString" text="right"><div>Số tiền</div></td>
                    <td name="SubmitDate"><div>Ngày phạt</div></td>
                    <td name="Reason"><div>Lý do</div></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model != null)
    {
        var jsonData = Html.JsonSerialize(Model);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({
        e: '#@tableID'
    });
    _TableFunctions.RefreshData();
</script>