@model SKtimeManagement.TagList
@{
    var id = Guid.NewGuid().ToString();
}
<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("List", "Product")" target="_self" for="main-content" ptitle="Sản phẩm">Sản phẩm</a>
        <span class="active">Nhóm sản phẩm</span>
        <a href="@Url.Action("List", "Warehouse")" target="_self" for="main-content" ptitle="Kho hàng">Kho hàng</a>
        <a href="@Url.Action("List", "Supplier")" target="_self" for="main-content" ptitle="Nhà cung cấp">Nhà cung cấp</a>
    </div>
</div>
@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="text-center">
        <i class="text-info">@Html.Raw(Model.Message)</i>
    </div>
}
<div class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("List", "Tag")" method="post" for="main-content" ptitle="Nhóm sản phẩm">
                    <div>
                        <label>Tên:</label><input class="input" type="text" name="Name" value="@Model.Filter.Name" />
                    </div>
                    <div>
                        <label>Linh kiện:</label><input type="checkbox" name="ForRepairString" @(Model.Filter.ForRepairValue ? "checked" : "") />
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("List", "Tag")" class="search" />
                        <a href="@Url.Action("Create", "Tag" )" target="_self" class="button add" for="pop-up-content" ptitle="Nhóm sản phẩm">Tạo mới</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        <p>Tổng cộng: <span class="text-info">@Model.Data.Count</span></p>
        <div id="tag" class="tbl">
            <table id="tag-table" data="@id" key="ID" update="@Url.Action("Update", "Tag", new { id = "{ID}" })" remove="@Url.Action("Remove", "Tag", new { id = "{ID}" })" ptitle="Nhóm sản phẩm">
                <thead>
                    <tr>
                        <td width="80"></td>
                        <td name="Name"><div>Tên</div></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model.Data != null)
    {
        var jsonData = Html.JsonSerialize(Model.Data);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({ e: '#tag' });
    _TableFunctions.RefreshData();
</script>