@model SKtimeManagement.ClientTypeInfo
<div id="client-type-info">
    <h3 class="text-center">Loại khách hàng</h3>
    <form action="@Url.Action("Save", "ClientType")" method="POST" for="main-content" fail="pop-up-content" class="sm">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="BussinessID" value="@Model.BussinessID" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w100">
                <div>
                    <label>Tên:</label><input class="input" type="text" name="Name" value="@Model.Name" valid="@(Model.Valid("Name") ? "true" : "false")" />
                </div>
                <div>
                    <label>Khuyến mãi:</label>
                    <select name="DiscountType">
                        <option value="">None</option>
                        @foreach (var type in Discount.List)
                        {
                            <option value="@type.Value" @(Model.DiscountType == type.Value ? "selected=\"selected\"" : "")>@type.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label>Giá trị:</label><input class="input" type="number" min="0" name="DiscountValue" value="@Model.DiscountValue" />
                </div>
                <div>
                    <label>Mức doanh số:</label><input class="input" type="number" min="0" name="Revenue" value="@Model.Revenue" />
                </div>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Lưu" url="@Url.Action("List", "ClientType")" class="save"/>
            <a href="@Url.Action("List", "ClientType")" target="_self" for="main-content" ptitle="Khách hàng" class="button cancel">Hủy</a>
        </div>
    </form>
</div>