@model SKtimeManagement.LoginList
@{
    var id = Guid.NewGuid().ToString();
}
<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("List", "Employee")" target="_self" for="main-content" ptitle="Nhân viên">Nhân viên</a>
        <span class="active">Đăng nhập</span>
        <a href="@Url.Action("List", "Delivery")" target="_self" for="main-content" ptitle="Đơn vị giao hàng">Đơn vị giao hàng</a>
    </div>
</div>
@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="text-center">
        <i class="text-info">@Html.Raw(Model.Message)</i>
    </div>
}
<div class="flexible">
    <div class="w25">
        <div class="group">
            <h3 class="head-line">Tìm kiếm</h3>
            <div id="content">
                <form action="@Url.Action("List", "Login")" method="post" for="main-content" ptitle="Đăng nhập">
                    <div>
                        <label>Tài khoản:</label><input class="input" type="text" name="Username" value="@Model.Filter.Username" />
                    </div>
                    <div>
                        <label>Nhân viên:</label>
                        <select name="EmployeeID" data="@Url.Action("DataList", "Employee")" value="@Model.Filter.EmployeeID">
                            <option value="">None</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" url="@Url.Action("List", "Login")" class="save" />
                        <a href="@Url.Action("Create", "Login" )" target="_self" class="button add" for="pop-up-content" ptitle="Đăng nhập">Tạo mới</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w75">
        <p>Tổng cộng: <span class="text-info">@Model.Data.Count</span></p>
        <div id="logins" class="tbl">
            <table id="login-table" data="@id" key="ID" update="@Url.Action("Update", "Login", new { id = "{ID}" })" remove="@Url.Action("Remove", "Login", new { id = "{ID}" })" ptitle="Đăng nhập">
                <thead>
                    <tr>
                        <td width="80"></td>
                        <td name="Username"><div>Tài khoản</div></td>
                        <td name="Type"><div>Cấp</div></td>
                        <td name="EmployeeName"><div>Nhân viên</div></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var scripts = new List<string>();
    if (Model.Data != null)
    {
        var jsonData = Html.JsonSerialize(Model.Data);
        scripts.Add("_TableFunctions.Data.push({" + String.Format("id: '{0}',data: JSON.parse('{1}', _TableFunctions.JsonParse)", id, jsonData) + "});");
    }
}
@Html.Raw(String.Format("<script>{0}</script>", String.Join("", scripts)))
<script>
    _TableFunctions.Init({ e: '#logins' });
    _TableFunctions.RefreshData();
</script>