@model SKtimeManagement.Login
<div id="login-info">
    <h3 class="text-center">Đăng nhập</h3>
    <form action="@Url.Action("Save", "Login")" method="POST" for="main-content" fail="pop-up-content" class="md">
        <input type="hidden" name="ID" value="@Model.ID" />
        <input type="hidden" name="BussinessID" value="@Model.BussinessID" />
        <div id="message" class="text-center @(Model.Result ? "text-info" : "text-danger")">
            @foreach (var msg in Model.Messages)
            {
                <i>@msg</i><br />
            }
        </div>
        <div class="flexible">
            <div class="w100">
                <div>
                    <label>Tài khoản:</label><input class="input" type="text" name="Username" value="@Model.Username" valid="@(Model.Valid("Username") ? "true" : "false")" />
                </div>
                <div>
                    <label>Cấp:</label>
                    <select name="Type">
                        <option value="@LoginType.Sale" @(Model.Type == LoginType.Sale ? "selected" : "")>@LoginType.Sale</option>
                        <option value="@LoginType.Mechanic" @(Model.Type == LoginType.Mechanic ? "selected" : "")>@LoginType.Mechanic</option>
                        <option value="@LoginType.Office" @(Model.Type == LoginType.Office ? "selected" : "")>@LoginType.Office</option>
                    </select>
                </div>
                <div>
                    <label>Mật khẩu:</label><input class="input" type="password" name="Password" value="@Model.Password" valid="@(Model.Valid("Password") ? "true" : "false")" />
                </div>
                <div>
                    <label>Nhân viên:</label>
                    <span>
                        <input type="hidden" name="EmployeeName" value="@Model.EmployeeName"/>
                        <select name="EmployeeID" data="@Url.Action("UnassignedList", "Employee")" value="@Model.EmployeeID">
                            <option value="">None</option>
                            @if (Model.EmployeeID > 0)
                            {
                                <option value="@Model.EmployeeID" selected="selected">@Model.EmployeeName</option>
                            }
                        </select>
                        <a href="@Url.Action("Create", "Employee")" target="_self" for="pop-up-content" ptitle="Nhân viên" class="button small add"></a>
                    </span>
                </div>
                @if (Model.Username != "admin")
                {
                    <div>
                        <label>Kho hàng:</label>
                        <div class="inline">
                            <div id="search-warehouse" class="table-row">
                                <div><input type="text" placeholder="Tìm theo tên" /></div>
                                <div><span class="button small search"></span></div>
                            </div>
                            <span>
                                <select id="warehouse-list" data="@Url.Action("WarehouseList", "Login", new { id = Model.ID })" for="warehouses" tag-add="@Url.Action("AddWarehouse", "Login", new { id = "__ID", subID = Model.ID })" tag-remove="@Url.Action("RemoveWarehouse", "Login", new { id = "__ID", subID = Model.ID })">
                                    <option value="">None</option>
                                </select>
                                @*<a href="@Url.Action("Create", "Warehouse")" target="_self" for="pop-up-content" ptitle="Kho hàng" class="button small add"></a>*@
                            </span>
                        </div>
                    </div>
                    <div>
                        <label></label><span id="warehouses" class="tag-list"></span>
                    </div>
                    <div>
                        <label>Phân quyền:</label>
                    </div>
                    <div>
                        <label>Công ty/đơn vị:</label>
                        <span><input type="checkbox" name="Permission.BussinessModify" /><span class="info">Chỉnh sửa</span></span>
                    </div>
                    <div>
                        <label>Cửa hàng:</label>
                        <span><input type="checkbox" name="Permission.StoreView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.StoreCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.StoreModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.StoreRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Nhân viên:</label>
                        <span><input type="checkbox" name="Permission.EmployeeView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.EmployeeCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.EmployeeModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.EmployeeRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Đăng nhập:</label>
                        <span><input type="checkbox" name="Permission.LoginView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.LoginCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.LoginModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.LoginRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Nhà cung cấp:</label>
                        <span><input type="checkbox" name="Permission.SupplierView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.SupplierCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.SupplierModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.SupplierRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Khách hàng:</label>
                        <span><input type="checkbox" name="Permission.ClientView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.ClientCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.ClientModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.ClientRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Loại khách hàng:</label>
                        <span><input type="checkbox" name="Permission.ClientTypeView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.ClientTypeCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.ClientTypeModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.ClientTypeRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Sản phẩm:</label>
                        <span><input type="checkbox" name="Permission.ProductView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.ProductCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.ProductModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.ProductRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Nhóm sản phẩm:</label>
                        <span><input type="checkbox" name="Permission.TagView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.TagCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.TagModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.TagRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Kho:</label>
                        <span><input type="checkbox" name="Permission.WarehouseView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.WarehouseCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.WarehouseModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.WarehouseRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Xuất kho:</label>
                        <span><input type="checkbox" name="Permission.ExportView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.ExportCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.ExportModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.ExportRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Nhập kho:</label>
                        <span><input type="checkbox" name="Permission.ImportView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.ImportCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.ImportModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.ImportRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Hóa đơn:</label>
                        <span><input type="checkbox" name="Permission.OrderView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.OrderCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.OrderModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.OrderRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Bảo hành:</label>
                        <span><input type="checkbox" name="Permission.WarrantyView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.WarrantyCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.WarrantyModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.WarrantyRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Sửa chữa:</label>
                        <span><input type="checkbox" name="Permission.RepairView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.RepairCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.RepairModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.RepairRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Thu:</label>
                        <span><input type="checkbox" name="Permission.IncomeView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.IncomeCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.IncomeModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.IncomeRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Chi:</label>
                        <span><input type="checkbox" name="Permission.OutcomeView" /><span class="info">Xem</span></span>
                        <span><input type="checkbox" name="Permission.OutcomeCreate" /><span class="info">Tạo mới</span></span>
                        <span><input type="checkbox" name="Permission.OutcomeModify" /><span class="info">Chỉnh sửa</span></span>
                        <span><input type="checkbox" name="Permission.OutcomeRemove" /><span class="info">Xóa</span></span>
                    </div>
                    <div>
                        <label>Thống kê:</label>
                        <span><input type="checkbox" name="Permission.ReportSummary" /><span class="info">Tổng quát</span></span>
                        <span><input type="checkbox" name="Permission.ReportDetail" /><span class="info">Chi tiết</span></span>
                        <span><input type="checkbox" name="Permission.ReportProduct" /><span class="info">Sản phẩm</span></span>
                        <span><input type="checkbox" name="Permission.ReportSalary" /><span class="info">Lương</span></span>
                        <span><input type="checkbox" name="Permission.ReportClient" /><span class="info">Khách hàng</span></span>
                        <span><input type="checkbox" name="Permission.ReportProductPart" /><span class="info">Linh kiện</span></span>
                    </div>
                    <div>
                        <label>Chấm công:</label>
                        <span><input type="checkbox" name="Permission.Salary" /><span class="info">Chấm công</span></span>
                    </div>
                    <div>
                        <label>Thanh toán:</label>
                        <span><input type="checkbox" name="Permission.TransactionModify" /><span class="info">Chỉnh sửa</span></span>
                    </div>
                }
            </div>
        </div>
        <div class="text-right">
            <input type="submit" value="Lưu" url="@Url.Action("List", "Login")" class="save"/>
            <a href="@Url.Action("List", "Login")" target="_self" for="main-content" ptitle="Đăng nhập" class="button cancel">Hủy</a>
        </div>
    </form>
</div>
@if (Model.Username != "admin")
{
    <script>
        $(document).ready(function () {
            AjaxRequest({
                url: '@Url.Action("Permission", "Login", new { id = Model.ID })',
                success: function (data) {
                    if (data.permissions) {
                        data.permissions.forEach(function (e, i) {
                            switch (e) {
                                case '@DbAction.Bussiness.Modify': $('#login-info input[name="Permission.BussinessModify"]').prop('checked', true); break;
                                case '@DbAction.Client.View': $('#login-info input[name="Permission.ClientView"]').prop('checked', true); break;
                                case '@DbAction.Client.Create': $('#login-info input[name="Permission.ClientCreate"]').prop('checked', true); break;
                                case '@DbAction.Client.Modify': $('#login-info input[name="Permission.ClientModify"]').prop('checked', true); break;
                                case '@DbAction.Client.Remove': $('#login-info input[name="Permission.ClientRemove"]').prop('checked', true); break;
                                case '@DbAction.ClientType.View': $('#login-info input[name="Permission.ClientTypeView"]').prop('checked', true); break;
                                case '@DbAction.ClientType.Create': $('#login-info input[name="Permission.ClientTypeCreate"]').prop('checked', true); break;
                                case '@DbAction.ClientType.Modify': $('#login-info input[name="Permission.ClientTypeModify"]').prop('checked', true); break;
                                case '@DbAction.ClientType.Remove': $('#login-info input[name="Permission.ClientTypeRemove"]').prop('checked', true); break;
                                case '@DbAction.Employee.View': $('#login-info input[name="Permission.EmployeeView"]').prop('checked', true); break;
                                case '@DbAction.Employee.Create': $('#login-info input[name="Permission.EmployeeCreate"]').prop('checked', true); break;
                                case '@DbAction.Employee.Modify': $('#login-info input[name="Permission.EmployeeModify"]').prop('checked', true); break;
                                case '@DbAction.Employee.Remove': $('#login-info input[name="Permission.EmployeeRemove"]').prop('checked', true); break;
                                case '@DbAction.Export.View': $('#login-info input[name="Permission.ExportView"]').prop('checked', true); break;
                                case '@DbAction.Export.Create': $('#login-info input[name="Permission.ExportCreate"]').prop('checked', true); break;
                                case '@DbAction.Export.Modify': $('#login-info input[name="Permission.ExportModify"]').prop('checked', true); break;
                                case '@DbAction.Export.Remove': $('#login-info input[name="Permission.ExportRemove"]').prop('checked', true); break;
                                case '@DbAction.Import.View': $('#login-info input[name="Permission.ImportView"]').prop('checked', true); break;
                                case '@DbAction.Import.Create': $('#login-info input[name="Permission.ImportCreate"]').prop('checked', true); break;
                                case '@DbAction.Import.Modify': $('#login-info input[name="Permission.ImportModify"]').prop('checked', true); break;
                                case '@DbAction.Import.Remove': $('#login-info input[name="Permission.ImportRemove"]').prop('checked', true); break;
                                case '@DbAction.Login.View': $('#login-info input[name="Permission.LoginView"]').prop('checked', true); break;
                                case '@DbAction.Login.Create': $('#login-info input[name="Permission.LoginCreate"]').prop('checked', true); break;
                                case '@DbAction.Login.Modify': $('#login-info input[name="Permission.LoginModify"]').prop('checked', true); break;
                                case '@DbAction.Login.Remove': $('#login-info input[name="Permission.LoginRemove"]').prop('checked', true); break;
                                case '@DbAction.Product.View': $('#login-info input[name="Permission.ProductView"]').prop('checked', true); break;
                                case '@DbAction.Product.Create': $('#login-info input[name="Permission.ProductCreate"]').prop('checked', true); break;
                                case '@DbAction.Product.Modify': $('#login-info input[name="Permission.ProductModify"]').prop('checked', true); break;
                                case '@DbAction.Product.Remove': $('#login-info input[name="Permission.ProductRemove"]').prop('checked', true); break;
                                case '@DbAction.Store.View': $('#login-info input[name="Permission.StoreView"]').prop('checked', true); break;
                                case '@DbAction.Store.Create': $('#login-info input[name="Permission.StoreCreate"]').prop('checked', true); break;
                                case '@DbAction.Store.Modify': $('#login-info input[name="Permission.StoreModify"]').prop('checked', true); break;
                                case '@DbAction.Store.Remove': $('#login-info input[name="Permission.StoreRemove"]').prop('checked', true); break;
                                case '@DbAction.Supplier.View': $('#login-info input[name="Permission.SupplierView"]').prop('checked', true); break;
                                case '@DbAction.Supplier.Create': $('#login-info input[name="Permission.SupplierCreate"]').prop('checked', true); break;
                                case '@DbAction.Supplier.Modify': $('#login-info input[name="Permission.SupplierModify"]').prop('checked', true); break;
                                case '@DbAction.Supplier.Remove': $('#login-info input[name="Permission.SupplierRemove"]').prop('checked', true); break;
                                case '@DbAction.Tag.View': $('#login-info input[name="Permission.TagView"]').prop('checked', true); break;
                                case '@DbAction.Tag.Create': $('#login-info input[name="Permission.TagCreate"]').prop('checked', true); break;
                                case '@DbAction.Tag.Modify': $('#login-info input[name="Permission.TagModify"]').prop('checked', true); break;
                                case '@DbAction.Tag.Remove': $('#login-info input[name="Permission.TagRemove"]').prop('checked', true); break;
                                case '@DbAction.Warehouse.View': $('#login-info input[name="Permission.WarehouseView"]').prop('checked', true); break;
                                case '@DbAction.Warehouse.Create': $('#login-info input[name="Permission.WarehouseCreate"]').prop('checked', true); break;
                                case '@DbAction.Warehouse.Modify': $('#login-info input[name="Permission.WarehouseModify"]').prop('checked', true); break;
                                case '@DbAction.Warehouse.Remove': $('#login-info input[name="Permission.WarehouseRemove"]').prop('checked', true); break;
                                case '@DbAction.Order.View': $('#login-info input[name="Permission.OrderView"]').prop('checked', true); break;
                                case '@DbAction.Order.Create': $('#login-info input[name="Permission.OrderCreate"]').prop('checked', true); break;
                                case '@DbAction.Order.Modify': $('#login-info input[name="Permission.OrderModify"]').prop('checked', true); break;
                                case '@DbAction.Order.Remove': $('#login-info input[name="Permission.OrderRemove"]').prop('checked', true); break;
                                case '@DbAction.Warranty.View': $('#login-info input[name="Permission.WarrantyView"]').prop('checked', true); break;
                                case '@DbAction.Warranty.Create': $('#login-info input[name="Permission.WarrantyCreate"]').prop('checked', true); break;
                                case '@DbAction.Warranty.Modify': $('#login-info input[name="Permission.WarrantyModify"]').prop('checked', true); break;
                                case '@DbAction.Warranty.Remove': $('#login-info input[name="Permission.WarrantyRemove"]').prop('checked', true); break;
                                case '@DbAction.Repair.View': $('#login-info input[name="Permission.RepairView"]').prop('checked', true); break;
                                case '@DbAction.Repair.Create': $('#login-info input[name="Permission.RepairCreate"]').prop('checked', true); break;
                                case '@DbAction.Repair.Modify': $('#login-info input[name="Permission.RepairModify"]').prop('checked', true); break;
                                case '@DbAction.Repair.Remove': $('#login-info input[name="Permission.RepairRemove"]').prop('checked', true); break;
                                case '@DbAction.Income.View': $('#login-info input[name="Permission.IncomeView"]').prop('checked', true); break;
                                case '@DbAction.Income.Create': $('#login-info input[name="Permission.IncomeCreate"]').prop('checked', true); break;
                                case '@DbAction.Income.Modify': $('#login-info input[name="Permission.IncomeModify"]').prop('checked', true); break;
                                case '@DbAction.Income.Remove': $('#login-info input[name="Permission.IncomeRemove"]').prop('checked', true); break;
                                case '@DbAction.Outcome.View': $('#login-info input[name="Permission.OutcomeView"]').prop('checked', true); break;
                                case '@DbAction.Outcome.Create': $('#login-info input[name="Permission.OutcomeCreate"]').prop('checked', true); break;
                                case '@DbAction.Outcome.Modify': $('#login-info input[name="Permission.OutcomeModify"]').prop('checked', true); break;
                                case '@DbAction.Outcome.Remove': $('#login-info input[name="Permission.OutcomeRemove"]').prop('checked', true); break;
                                case '@ReportAction.Summary': $('#login-info input[name="Permission.ReportSummary"]').prop('checked', true); break;
                                case '@ReportAction.Detail': $('#login-info input[name="Permission.ReportDetail"]').prop('checked', true); break;
                                case '@ReportAction.Product': $('#login-info input[name="Permission.ReportProduct"]').prop('checked', true); break;
                                case '@ReportAction.Salary': $('#login-info input[name="Permission.ReportSalary"]').prop('checked', true); break;
                                case '@ReportAction.Client': $('#login-info input[name="Permission.ReportClient"]').prop('checked', true); break;
                                case '@ReportAction.ProductPart': $('#login-info input[name="Permission.ReportProductPart"]').prop('checked', true); break;
                                case '@SalaryAction.Calculate': $('#login-info input[name="Permission.Salary"]').prop('checked', true); break;
                                case '@DbAction.Transaction.Modify': $('#login-info input[name="Permission.TransactionModify"]').prop('checked', true); break;
                                default: break;
                            }
                        });
                    }
                }
            });
            $('#login-info select[name="EmployeeID"]').on('change', function () {
                $('#login-info input[name="EmployeeName"]').val($('#login-info select[name="EmployeeID"] option[value="' + $(this).val() + '"]').html());
            });
        });
    </script>
}