@model SKtimeManagement.Export

<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("Create", "Import")" target="_self" for="main-content" ptitle="Nhập kho">Nhập kho</a>
        <span class="active">Xuất kho</span>
        <a href="@Url.Action("Create", "Order")" target="_self" for="main-content" ptitle="Hóa đơn">Hóa đơn</a>
    </div>
</div>
<div id="export" class="flexible">
    <div id="selector" class="w25">
        <div class="group">
            <h3 class="head-line">Tìm sản phẩm</h3>
            <div id="content">
                <form action="@Url.Action("ProductList", "Export")" method="post" for="products" ptitle="Nhập kho">
                    <input type="hidden" name="WarehouseID" value="@Model.WarehouseID" />
                    <input type="hidden" name="Action" value="@(Model.ID > 0 ? DbAction.Export.Modify : DbAction.Export.Create)" />
                    <div>
                        <label>Mã:</label><input class="input" type="text" name="Code" value="@Model.Filter.Code" />
                    </div>
                    <div>
                        <label>Tên:</label><input class="input" type="text" name="Name" value="@Model.Filter.Name" />
                    </div>
                    <div>
                        <label>Nhóm sản phẩm:</label>
                        <div class="inline">
                            <div id="search-tag" class="table-row">
                                <div><input type="text" placeholder="Tìm theo tên" /></div>
                                <div><span class="button small search"></span></div>
                            </div>
                            <span>
                                <select name="TagID" data="@Url.Action("KeyList", "Tag")" value="@Model.Filter.TagID">
                                    <option value="">None</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Tìm" class="search" />
                        <a href="@Url.Action("Create", "Export" )" target="_self" class="button add" for="main-content" ptitle="Xuất kho">Tạo mới</a>
                        <a href="@Url.Action("History", "Export" )" target="_self" class="button view" for="main-content" ptitle="Xuất kho">Lịch sử xuất kho</a>
                    </div>
                </form>
            </div>
        </div>
        <div id="products" class="group">
            @Html.Partial(Views.Selector, Model.Data)
        </div>
    </div>
    <div class="w75">
        <div class="text-center">
            <h3>Xuất kho</h3>
        </div>
        <div class="text-center @(Model.Result ? "text-info" : "text-danger")">
            <i id="export-message">@Html.Raw(Model.Message)</i>
        </div>
        <div id="list">
            <form action="@Url.Action("Submit", "Export")" method="post" ptitle="Xuất kho" for="main-content">
                <input type="hidden" name="id" value="@Model.ID" />
                <div class="flexible">
                    @if (Model.ID > 0)
                    {
                        <div class="w100">
                            <div>
                                <label>Mã:</label><span class="info"><strong>@Model.Code</strong></span>
                            </div>
                        </div>
                    }
                    <div class="w50">
                        <div>
                            <label>Kho xuất:</label>
                            <select name="warehouseID">
                                @foreach (var warehouse in Model.Warehouses)
                                {
                                    <option value="@warehouse.ID" @(Model.WarehouseID == warehouse.ID ? "selected" : "")>@warehouse.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Kho nhận:</label>
                            <select name="toWarehouseID">
                                <option>None</option>
                                @foreach (var warehouse in Model.Warehouses)
                                {
                                    <option value="@warehouse.ID" @(Model.ToWarehouseID == warehouse.ID ? "selected" : "")>@warehouse.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Nhập từ file:</label>
                            <input type="file" id="export-file" />
                        </div>
                        <div>
                            <label>File mẫu:</label>
                            <a href="@Url.Action("UploadTemplate", "Export")" target="_blank" class="button save">Tải về</a>
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Nhân viên:</label><span class="info">@Model.EmployeeName</span>
                            @*<div class="inline">
                                <div id="search-employee" class="table-row">
                                    <div><input type="text" placeholder="Tìm theo tên" /></div>
                                    <div><span class="button small search"></span></div>
                                </div>
                                <select name="employeeID" data="@Url.Action("DataList", "Employee")" value="@Model.EmployeeName">
                                    <option value="0">None</option>
                                </select>
                            </div>*@
                        </div>
                    </div>
                    <div class="w50">
                        <div>
                            <label>Số lượng:</label><span id="total-quantity" class="info">@(Model != null ? Model.Selected.Sum(i => i.Quantity).GetCurrencyString() : "0")</span>
                        </div>
                    </div>
                    @*@if (Model.Editable)
                    {
                        <div class="w50">
                            <div>
                                <label>Trạng thái:</label>
                                <select name="status">
                                    <option value="@ExportStatus.Pending" @(Model.Status == ExportStatus.Pending ? "selected" : "")>@ExportStatus.Pending</option>
                                    <option value="@ExportStatus.Exported" @(Model.Status == ExportStatus.Exported ? "selected" : "")>@ExportStatus.Exported</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="status" value="@Model.Status"/>
                    }*@
                    <input type="hidden" name="status" value="@Model.Status" />
                    <div class="w100">
                        <div>
                            <label>Ghi chú:</label>
                            <input class="input" type="text" name="note" value="@Model.Note" maxlength="200" />
                        </div>
                    </div>
                </div>
                <div class="tbl">
                    <table id="export-products">
                        <thead>
                            <tr id="head">
                                <td width="50"></td>
                                <td>Mã SP</td>
                                <td>Tên</td>
                                <td>Tồn kho</td>
                                <td>Số lượng</td>
                                <td>Giá xuất</td>
                                <td width="150">Thành tiền (VND)</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            @if (!String.IsNullOrEmpty(Model.OrderReceipt))
                            {
                                <tr>
                                    <td colspan="6"><div class="text-right">Số hóa đơn</div></td>
                                    <td>
                                        <div class="text-center">@Model.OrderReceipt</div>
                                    </td>
                                </tr>
                            }
                            @if (!String.IsNullOrEmpty(Model.ClientName))
                            {
                                <tr>
                                    <td colspan="6"><div class="text-right">Khách hàng</div></td>
                                    <td>
                                        <div class="text-center">@Model.ClientName</div>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6"><div class="text-right">Tổng cộng:</div></td>
                                <td><div class="text-right"><strong id="grand-total">0</strong></div></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="text-right">
                    <input type="submit" value="Lưu phiếu" class="save hidden" />
                    <a href="@Url.Action("History", "Export")" target="_self" for="main-content" ptitle="Xuất kho" class="button cancel">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="export-data"></div>
<script>
    var _exportData = [];
    var _editable = @(Model.Editable ? "true" : "false");
    var _productUrl = '@Url.Action("Detail", "Product", new { ID = "_ID" })';
    NumberInput('#export-products');
    function _RefreshExportList() {
        $('#export-products tbody').html('');
        if (_exportData.length > 0) {
            _exportData.forEach(function (p, i) {
                var price = _editable ?
                    '<div class="input-number flexible"><div id="input"><input dti="' + i + '" class="input text-right" type="number" name="items[' + i + '].Price" value="' + p.Price + '" min="0" /></div></div>' :
                    '<span>' + p.PriceString + '</span><input type="hidden" name="items[' + i + '].Price" value="' + p.Price + '" />';
                var name = '<a href="' + _productUrl.replace('_ID', p.ID) + '" target="_self" for="pop-up-content" changeurl="false" ptitle="Xuất kho">' + p.Name + '</a>';
                $('#export-products tbody').append(
                    '<tr class="data">' +
                    '<td><div><span class="button-icon remove" dti="' + i + '"></span><input type="hidden" name="items[' + i + '].ID" value="' + p.ID + '" /></div></td>' +
                    '<td><div><span id="code">' + p.Code + '</span><input type="hidden" name="items[' + i + '].Code" value="' + p.Code + '" /></div></td>' +
                    '<td><div><span id="name">' + name + '</span><input type="hidden" name="items[' + i + '].Name" value="' + p.Name + '" /></div></td>' +
                    '<td><div text="right"><span id="max">' + p.MaximumString + '</span><input type="hidden" name="items[' + i + '].Maximum" value="' + p.Maximum + '" /></div></td>' +
                    '<td><div text="right"><div class="input-number flexible"><div id="input"><input dti="' + i + '" class="input text-right" type="number" name="items[' + i + '].Quantity" value="' + p.Quantity + '" min="0" max="' + p.Maximum + '" /></div></div></div></td>' +
                    '<td><div text="right">' + price + '</div></td>' +
                    '<td><div text="right"><span id="total-' + i + '">' + p.Total + '</span></div></td>' +
                    '</tr>'
                );
            });
            $('#export-products tbody .remove').on('click', function () {
                var index = $(this).attr('dti');
                if (index) {
                    index = parseInt(index);
                    _exportData.splice(index, 1);
                    _RefreshExportList();
                    ProcessSelects('#export-products tbody');
                }
            });
            $('#export-products tbody input[name]').on('change', _RefreshExportItem);
            $('#export #list input[type="submit"]').removeClass('hidden');
            NumberInput('#export-products tbody');
            ProcessLinks('#export-products tbody');
        }
        GrandTotal();
    }
    function _RefreshExportItem() {
        var index = $(this).attr('dti');
        if (index) {
            index = parseInt(index);
            var wid = $('#export-products select[name="items[' + index + '].WarehouseID"]').val(),
                price = $('#export-products input[name="items[' + index + '].Price"]').val(),
                qty = $('#export-products input[name="items[' + index + '].Quantity"]').val();
            if (wid) {
                _exportData[index].WarehouseID = parseInt(wid);
            }
            if (price) {
                _exportData[index].Price = parseFloat(price);
            }
            if (qty) {
                _exportData[index].Quantity = parseInt(qty);
            }
            _exportData[index].Total = parseInt(parseFloat(price) * parseInt(qty));
            $('#export-products #total-' + index).html(GetCurrencyString(_exportData[index].Total));
            GrandTotal();
        }
    }
    function GrandTotal() {
        var total = 0;
        var quantity = 0;
        _exportData.forEach(function (item, index) {
            total += item.Price * item.Quantity;
            quantity += item.Quantity;
        });
        $('#export-products #grand-total').html(GetCurrencyString(total));
        $('#total-quantity').html(GetCurrencyString(quantity));

    }
    $('#export-file').on('change', function () {
        var files = this.files;
        for (var i = 0; i < files.length; i++) {
            var data = new FormData();
            data.append(files[i].name, files[i]);
            AjaxRequest({
                url: '@Url.Action("UploadFile", "Export", new { id = "_ID" })'.replace('_ID', $('#export #selector input[name="WarehouseID"]').val()),
                type: 'post',
                data: data,
                processData: false,
                success: function (data) {
                    if (data.list) {
                        data.list.forEach(function (item, index) {
                            _exportData.push(item);
                        });
                        _RefreshExportList();
                        ProcessSelects('#export-products tbody');
                    }
                    if (data.message != '') {
                        $('#export-message').attr('class', '');
                        $('#export-message').attr('class', data.result ? 'text-info' : 'text-danger');
                        $('#export-message').html(data.message);
                    }
                    //console.log('saved');
                },
                uploadProgress: function (progress) {
                    //console.log(progress);
                }
            });
        }
        $(this).val('');
    });
    $('#export #selector #search-tag .button').on('click', function () {
        var name = $('#export #selector #search-tag input').val(),
            url = '@Url.Action("Find", "Tag", new { id = "_Name" })',
            val = $('#export #selector select[name="TagID"]').attr('value');
        if (name != '') {
            AjaxRequest({
                url: url.replace('_Name', name),
                success: function (data) {
                    if (data.list) {
                        var html = '<option value="">None</option>';
                        data.list.forEach(function (item, index) {
                            html += '<option value="' + item.ID + '" ' + (item.ID.toString() == val ? 'selected' : '') + '>' + item.Name + '</option>';
                        });
                        $('#export #selector select[name="TagID"]').html(html);
                    }
                }
            });
        }
    });
    $('#export #list #search-employee .button').on('click', function () {
        var name = $('#export #list #search-employee input').val(),
            url = '@Url.Action("Find", "Employee", new { id = "_Name" })',
            val = $('#export #list select[name="employeeID"]').attr('value');
        if (name != '') {
            AjaxRequest({
                url: url.replace('_Name', name),
                success: function (data) {
                    if (data.list) {
                        var html = '<option value="">None</option>';
                        data.list.forEach(function (employee, index) {
                            html += '<option value="' + employee.ID + '" ' + (employee.ID.toString() == val ? 'selected' : '') + '>' + employee.Name + '</option>';
                        });
                        $('#export #list select[name="employeeID"]').html(html);
                    }
                }
            });
        }
    });
    $('#export #list select[name="warehouseID"]').on('change', function () {
        $('#export #selector input[name="WarehouseID"]').val($(this).val());
        _exportData = [];
        _RefreshExportList();
        $('#export #selector #products .tbl').remove();
    });
</script>
@{
    var script = "";
    if (Model != null)
    {
        script = String.Format("<script>{0}_RefreshExportList();</script>",
            String.Join("", Model.Selected.Select(i => String.Format("_exportData.push({0});", i.JsObject)))
        );
    }
}
@Html.Raw(script)