@model SKtimeManagement.ExportList
<div class="tabs">
    <div id="heads">
        <a href="@Url.Action("Create", "Import")" target="_self" for="main-content" ptitle="Nhập kho">Nhập kho</a>
        <span class="active">Xuất kho</span>
        <a href="@Url.Action("Create", "Order")" target="_self" for="main-content" ptitle="Hóa đơn">Hóa đơn</a>
    </div>
</div>
<div class="flexible">
    <div id="export-history" class="w25">
        @Html.Partial(Views.Filter, Model)
    </div>
    <div id="export-detail" class="w75 padding">
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="text-center @(Model.Result ? "text-info" : "text-danger")">
                <i>@Model.Message</i>
            </div>
        }
        @Html.Partial(Views.Products, Model.Current)
    </div>
</div>